<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dafee343-e0df-4956-9ebe-bd20bb28970e" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="513d61d3-6298-498c-9aa1-f92f6b1a895c">footerProperties</Composition>
      <Composition Key="35e3d90d-31f7-457a-a6b1-559b454fb27f">headerProperties</Composition>
      <Composition Key="fabafeb8-92e8-47fa-bafd-2b1cdad16f51">mainMenu</Composition>
      <Composition Key="d31c99fb-77ae-4ed7-af4b-cb091379dc58">paymentOptions</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="612cedd4-9752-4e69-a796-d3382495e746">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4dd89d88-49f0-4216-ad8c-ff940da12260" SortOrder="0">sobreNosotros</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>07f48a94-5126-454c-850b-3be8f5bcc291</Key>
      <Name>Footer Content</Name>
      <Alias>footerContent</Alias>
      <Definition>f9d5a63b-d459-45d6-8f2e-f1ec9f4d6d44</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>732ca51c-fb12-4a1e-a265-72b1ca3b7908</Key>
      <Name>Main Navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>8366a5a7-41b2-4d19-b7b4-5c156e5002fa</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add links to the main navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>13f08a9f-7c41-4481-8f75-62bc23c578fd</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>b095dc06-c015-484d-8421-fdaf5aa48594</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>