<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dafee343-e0df-4956-9ebe-bd20bb28970e" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="35e3d90d-31f7-457a-a6b1-559b454fb27f">headerProperties</Composition>
      <Composition Key="fabafeb8-92e8-47fa-bafd-2b1cdad16f51">mainMenu</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="612cedd4-9752-4e69-a796-d3382495e746">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4dd89d88-49f0-4216-ad8c-ff940da12260" SortOrder="0">sobreNosotros</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>732ca51c-fb12-4a1e-a265-72b1ca3b7908</Key>
      <Name>Main Navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>8366a5a7-41b2-4d19-b7b4-5c156e5002fa</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add links to the main navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b095dc06-c015-484d-8421-fdaf5aa48594</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>