<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df203883-66ab-4091-8af9-1cf0d4559150" Alias="imageCarrousel" Level="4">
  <Info>
    <Name>Image Carrousel</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="1d4cf193-1a0a-47fa-9027-7b9b722a0e09">configurationsComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d4c4836e-83e7-4143-a9d4-a9e4ff6a2686</Key>
      <Name>Centered Images</Name>
      <Alias>centeredImages</Alias>
      <Definition>2a0119f7-f310-4147-b347-132c7aba01c0</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Turn on if you need the images to be centered within the carousel. By default they will not be centered.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="configurations">Configurations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>19c1807d-dca6-4541-89ad-08fedd85713e</Key>
      <Name>Desktop Images</Name>
      <Alias>desktopImages</Alias>
      <Definition>387da41d-0bb9-4459-8dd0-66827f515833</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Attach here all the images that will be displayed in the desktop banner.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4744716d-d757-4a40-9d74-a68ca4ce2230</Key>
      <Name>Height of images</Name>
      <Alias>heightOfImages</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[Enter the height of the images within the banner. The number is in pixels.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="configurations">Configurations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Only add numbers (do not include "px").</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dac3b6ae-ffba-4dd4-bbce-2f339fa7e52f</Key>
      <Name>Mobile Images</Name>
      <Alias>mobileImages</Alias>
      <Definition>387da41d-0bb9-4459-8dd0-66827f515833</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional field -- Attach here all images that will be displayed in the mobile version.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6cb99eb7-0091-450b-b724-32c19a21b74c</Key>
      <Name>Multiple images at once</Name>
      <Alias>multipleImagesAtOnce</Alias>
      <Definition>2a0119f7-f310-4147-b347-132c7aba01c0</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Turn on if you want multiple images to be displayed at the same time.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="configurations">Configurations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a9dc76bc-9c50-4555-9352-6967c585ab8b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>be03c5c9-806f-4db9-866f-e738e46b4f92</Key>
      <Caption>Configurations</Caption>
      <Alias>configurations</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>