<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d31c99fb-77ae-4ed7-af4b-cb091379dc58" Alias="paymentOptions" Level="2">
  <Info>
    <Name>Donation Options</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>783d96e0-c015-4465-983f-b8a24b5df3d7</Key>
      <Name>DesktopArrows</Name>
      <Alias>desktopArrows</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Attach the arrows for the desktop viewport.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="donationOption">Donation Option</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dcfffd17-4c2e-4e42-9441-2d2f7e67601f</Key>
      <Name>Donation Option</Name>
      <Alias>DonationOption</Alias>
      <Definition>d062bcea-0e6d-43ba-b246-a29860d812bf</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="donationOption">Donation Option</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f678f16-4293-4fa6-a8cf-1be5e141ad74</Key>
      <Name>MobileArrows</Name>
      <Alias>mobileArrows</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter arrows for mobile viewports.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="donationOption">Donation Option</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a493021e-85fe-441c-83f3-609fa5b5cc98</Key>
      <Caption>Donation Option</Caption>
      <Alias>donationOption</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>