<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee1806d8-32ec-489b-a189-90f6c52c5b9b" Alias="products" Level="2">
  <Info>
    <Name>Products</Name>
    <Icon>icon-files color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Store</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6c24ccb2-18db-437f-8f23-7de9bc246245" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>