<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70a37904-5e92-4a00-8226-299ccd642cc2" Alias="productPage" Level="2">
  <Info>
    <Name>Product Page</Name>
    <Icon>icon-candy color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="35e3d90d-31f7-457a-a6b1-559b454fb27f">headerProperties</Composition>
      <Composition Key="fabafeb8-92e8-47fa-bafd-2b1cdad16f51">mainMenu</Composition>
      <Composition Key="667d4eda-5035-485a-93ce-ea8e5893f666">visibilityProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>