<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="76bdc644-b5a8-460a-b65c-51fc00a31e4f" Alias="productCarousel" Level="4">
  <Info>
    <Name>Product Carousel</Name>
    <Icon>icon-candy color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a0a0a1d9-1efc-471f-8247-1d02ab14ad25</Key>
      <Name>All Products Button Link</Name>
      <Alias>allProductsButtonLink</Alias>
      <Definition>db94ecd6-5756-4069-aeb7-8d8bf156591f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the link for the all the products button.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d203dc7a-a81f-4334-ba46-185a9e37b9b8</Key>
      <Name>Centered Images</Name>
      <Alias>centeredImages</Alias>
      <Definition>2a0119f7-f310-4147-b347-132c7aba01c0</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set this toggle to true if you want your products to be centered within the carousel.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="configurations">Configurations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cca83bb4-1777-4740-81ee-94ddbb3f8858</Key>
      <Name>List of Products</Name>
      <Alias>listOfProducts</Alias>
      <Definition>228142b5-4719-464a-b272-cf580bd85390</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select all the products that you want to display in this carousel section.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>01272470-5fb5-4aff-bf35-939bd5d42a63</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>88695c7d-2aa2-4deb-b077-926f14513a9e</Key>
      <Caption>Configurations</Caption>
      <Alias>configurations</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>