<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4dd89d88-49f0-4216-ad8c-ff940da12260" Alias="sobreNosotros" Level="2">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-info color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Página sobre nosotros</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="35e3d90d-31f7-457a-a6b1-559b454fb27f">headerProperties</Composition>
      <Composition Key="fabafeb8-92e8-47fa-bafd-2b1cdad16f51">mainMenu</Composition>
      <Composition Key="667d4eda-5035-485a-93ce-ea8e5893f666">visibilityProperty</Composition>
    </Compositions>
    <DefaultTemplate>SobreNosotros</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4dd89d88-49f0-4216-ad8c-ff940da12260" SortOrder="0">sobreNosotros</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>