<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e33368f4-3e05-415e-99b0-7f942fe79815" Alias="store" Level="2">
  <Info>
    <Name>Store</Name>
    <Icon>icon-store color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Store</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ee1806d8-32ec-489b-a189-90f6c52c5b9b" SortOrder="0">products</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5f7dc39a-f602-4a64-ab1b-ee26151428ff</Key>
      <Name>Phone Number</Name>
      <Alias>phoneNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[Enter the contact phone number.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="storeInformation">Store Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>433f4892-b209-4ada-b8ce-27a39341c0fe</Key>
      <Name>Store Email</Name>
      <Alias>storeEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[Enter the store's contact email.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="storeInformation">Store Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>74b0393c-b00f-459e-9839-89cda0b615f3</Key>
      <Name>Store Name</Name>
      <Alias>storeName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the store's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="storeInformation">Store Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1c613679-0012-4c71-aa8d-62a5d5681084</Key>
      <Caption>Store Information</Caption>
      <Alias>storeInformation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>