<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43a397ef-dfcb-4cab-aaac-ac14ae7c81ac" Alias="threeColumnContent" Level="4">
  <Info>
    <Name>Three Column Content</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="1d4cf193-1a0a-47fa-9027-7b9b722a0e09">configurationsComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0ff1573b-c747-484f-9833-068d38885a4f</Key>
      <Name>Columns</Name>
      <Alias>columns</Alias>
      <Definition>4a78628e-444c-4106-b20b-32e0109a7c57</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3c15c000-6c33-4f83-8237-251bb95c2de9</Key>
      <Name>Width of Column 1</Name>
      <Alias>widthOfColumn1</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the with in percentage of Column 1. The sum of the three columns must be a total of 100.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28f0c948-3910-4bb4-bd08-a350fa30ccd4</Key>
      <Name>Width of Column 2</Name>
      <Alias>widthOfColumn2</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the with in percentage of Column 2. The sum of the three columns must be a total of 100.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81c9b719-7072-447e-86cf-b17f95f004cd</Key>
      <Name>Width of Column 3</Name>
      <Alias>widthOfColumn3</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the with in percentage of Column 3. The sum of the three columns must be a total of 100.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>356a1894-e4e4-4e8b-910f-8239860b7781</Key>
      <Caption>Content</Caption>
      <Alias>content1</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>