<?xml version="1.0" encoding="utf-8"?>
<Content Key="86f8386d-a2e7-4f2b-821f-dca4b95e39af" Alias="Arroz con leche" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/ArrozConLeche</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-18T18:27:29</CreateDate>
    <NodeName Default="Arroz con leche" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Misceláneos"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Arroz con leche Nutrir, ventas sobre pedido, minimo 20 unidades o el equivalente a $64.000, pide por nuestro boton de whatsapp</p>\n<p>240 Gramos $3.200</p>\n<p>480 Gramos $5.600</p>\n<p>740 Gramos $7.600</p>\n<p>740 Gramos con Palitos de queso x6 $9.100</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "cb9f2eb5-8732-47fb-8f95-b131400a09b0",
    "mediaKey": "a464e787-ef2b-43bf-a4f9-c149aa23b7c3"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Arroz con leche]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[64000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información del arroz con leche?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>