<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cf8cbec-407a-452f-b281-b6f87f9cbf72" Alias="Bono Oro Fisico" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/BonoOroFisico</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-19T17:38:57</CreateDate>
    <NodeName Default="Bono Oro Fisico" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Bonos Físicos"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Regala este bono para expresar sentimientos, en la pantalla de pago podrás gestionar los campos de quien lo envía, a quien va dirigido y con qué intención, ya sea Felicitación, Condolencia u otro sentimiento que le quieras expresar a esa persona. Nosotros lo llenaremos por ti</p>\n<h3>Al mismo tiempo puedes contribuir con la alimentación de un niño en condición de pobreza</h3>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "b19d3544-22a7-4993-bb4b-a7a648ea1610",
    "mediaKey": "1d497d5b-48d1-4f55-bde4-98e6ed8fa369"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Bono Oro Fisico]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[100000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información del Bono Oro Fisico?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>