<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc4cd82b-8b4f-4cb5-8e2c-0b11cb0ef4aa" Alias="Bono Plata Virtual" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/BonoPlataVirtual</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-19T17:34:00</CreateDate>
    <NodeName Default="Bono Plata Virtual" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Bonos Virtuales"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Regala este bono para expresar sentimientos, en la pantalla de pago podrás gestionar los campos de quien lo envía, a quien va dirigido y con qué intención, ya sea Felicitación, Condolencia u otro sentimiento que le quieras expresar a esa persona. Nosotros lo llenaremos por ti</p>\n<h3>Al mismo tiempo puedes contribuir con la alimentación de un niño en condición de pobreza</h3>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "6fd11630-cfe8-4e70-a779-5d3bda1124c8",
    "mediaKey": "68d4d4bd-c084-4341-ac17-98572580cf31"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Bono Plata Virtual]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[25000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información del Bono Plata Virtual?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>