<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4754d50-6f0a-4270-8a78-44087df2c08d" Alias="Bono Pan de Vida Especial Virtual" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/BonoPanDeVidaEspecialVirtual</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-23T18:21:11</CreateDate>
    <NodeName Default="Bono Pan de Vida Especial Virtual" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Bonos Virtuales"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Regala este bono para expresar sentimientos, en la pantalla de pago podrás gestionar los campos de quien lo envía, a quien va dirigido y con qué intención, ya sea Felicitación, Condolencia u otro sentimiento que le quieras expresar a esa persona. Nosotros lo llenaremos por ti</p>\n<h3>Al mismo tiempo puedes contribuir con la alimentación de un niño en condición de pobreza</h3>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "3eb9bd9b-0bec-4ea1-8e07-78fd58dd75a7",
    "mediaKey": "7a00e04c-e282-4e12-9043-8c2a5b3c5f3d"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Bono Pan de Vida Especial Virtual (40000 - 4000000)]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[4000000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información del Bono Azul Virtual?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>