<?xml version="1.0" encoding="utf-8"?>
<Content Key="30b887e4-ab86-46d1-9d13-8f94f863222e" Alias="Bono Oro Virtual" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/BonoOroVirtual</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-19T17:35:14</CreateDate>
    <NodeName Default="Bono Oro Virtual" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Bonos Virtuales"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Regala este bono para expresar sentimientos, en la pantalla de pago podrás gestionar los campos de quien lo envía, a quien va dirigido y con qué intención, ya sea Felicitación, Condolencia u otro sentimiento que le quieras expresar a esa persona. Nosotros lo llenaremos por ti</p>\n<h3>Al mismo tiempo puedes contribuir con la alimentación de un niño en condición de pobreza</h3>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "65e360f3-c61c-454c-a3b7-c3091f97b802",
    "mediaKey": "db3b5518-33cf-4f04-a141-8bb126829cd0"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Bono Oro Virtual]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[50000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información del Bono Oro Virtual?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>