<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee44624f-d83d-41ae-814d-5bf783f411ee" Alias="Bono Especial" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/BonoEspecial</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-19T17:41:18</CreateDate>
    <NodeName Default="Bono Especial" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Bonos Especiales"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Regala este bono para expresar sentimientos, en la pantalla de pago podrás gestionar los campos de quien lo envía, a quien va dirigido y con qué intención, ya sea Felicitación, Condolencia u otro sentimiento que le quieras expresar a esa persona. Nosotros lo llenaremos por ti</p>\n<h3>Al mismo tiempo puedes contribuir con la alimentación de un niño en condición de pobreza</h3>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "b4185298-e450-438e-9a19-8a5de6854ea0",
    "mediaKey": "fcd571ba-3423-4db7-87b6-3d4a30c095c2"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Bono Especial]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[100000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información del Bono Especial?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>