<?xml version="1.0" encoding="utf-8"?>
<Content Key="868e786b-cc23-4142-9da1-db72c6350c55" Alias="Camiseta para niños" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/CamisetaParaNinos</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-23T18:14:53</CreateDate>
    <NodeName Default="Camiseta para niños" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Misceláneos"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Camiseta Nutrir talla unica para Niños</p>\n<p>Adquiriendo nuestros productos, ayudas a financiar la alimentación de nuestros niños, niñas, madres gestantes y lactantes en los comedores de la Fundación Nutrir.</p>\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "b07bb827-07a9-465b-a6c2-0981ea1de57f",
    "mediaKey": "16b43300-4ce9-48ed-85db-103e9bc923db"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Camiseta para niños]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[22000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información de la camiseta Nutrir para niños?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>