<?xml version="1.0" encoding="utf-8"?>
<Content Key="14a0663d-8b8f-46cc-894f-12e632226119" Alias="Certificados de donacion" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CertificadosDeDonacion</Path>
    <Trashed Parent="0cc9e3bc-cfa3-4b6a-94f5-4dc6ac138bf7">true</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-17T18:27:27</CreateDate>
    <NodeName Default="Certificados de donacion" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "9b12c409-c33c-4e48-bb6b-207ba7e257ac",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "2836cbd9-c4e1-4efb-a4c5-d1c1cacf658c",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Certificados de Donacion - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>