<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b2d6441-33b6-446b-8c02-68e8cc80f3c8" Alias="Como Ayudar" Level="2">
  <Info>
    <Parent Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea">Inicio</Parent>
    <Path>/Inicio/ComoAyudar</Path>
    <Trashed>false</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-17T18:23:32</CreateDate>
    <NodeName Default="Como Ayudar" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "6fdbfa10-f4cf-48c5-85df-e84dbfcac6c8",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "4e7720f1-8265-4fa9-acbf-5a9c7044f60c",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Cómo Ayudar - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>