<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b2d6441-33b6-446b-8c02-68e8cc80f3c8" Alias="Como Ayudar" Level="2">
  <Info>
    <Parent Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea">Inicio</Parent>
    <Path>/Inicio/ComoAyudar</Path>
    <Trashed>false</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-17T18:23:32</CreateDate>
    <NodeName Default="Como Ayudar" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "6fdbfa10-f4cf-48c5-85df-e84dbfcac6c8",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b6ee636d7701410f939746f25e22b311"
      },
      {
        "contentUdi": "umb://element/ca14b922275640b7a496a3384981edae"
      },
      {
        "contentUdi": "umb://element/c26f42c8eba94ac88ac0da2b75459360"
      },
      {
        "contentUdi": "umb://element/0a6fbf02975f4387bc8868db4c59547f"
      },
      {
        "contentUdi": "umb://element/a4ca99adb47a4ee29685d7b02065025e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/b6ee636d7701410f939746f25e22b311",
      "content": {
        "markup": "<p style=\"text-align: center;\"><strong><span class=\"textType2\">¿COMO AYUDAR?</span></strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "b3e9b15d-0ac0-42e7-9c6b-251d10660239",
      "udi": "umb://element/ca14b922275640b7a496a3384981edae",
      "buttonsList": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0acbbafd14264b528cec2d247c1f9c86"
            },
            {
              "contentUdi": "umb://element/ea9389dd426e442d9a7e0f4c28dc0aad"
            },
            {
              "contentUdi": "umb://element/eeb54301b52b426f8895cbf7eed9a3f7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7404887b-a8af-467d-a36a-cb93ac813e4e",
            "udi": "umb://element/0acbbafd14264b528cec2d247c1f9c86",
            "text": " Plan Padrino Nutrir",
            "color": {
              "value": "9cc11c",
              "label": "9cc11c",
              "sortOrder": 6,
              "id": "7"
            },
            "link": [
              {
                "queryString": "#padrino"
              }
            ],
            "image": [
              {
                "key": "3fd5432e-d561-4fd7-a16e-a65fac9f1e36",
                "mediaKey": "a4f3096a-1b98-4527-b3fc-df1b01ff0663"
              }
            ]
          },
          {
            "contentTypeKey": "7404887b-a8af-467d-a36a-cb93ac813e4e",
            "udi": "umb://element/ea9389dd426e442d9a7e0f4c28dc0aad",
            "text": "Servicios de Alimentacion",
            "color": {
              "value": "9cc11c",
              "label": "9cc11c",
              "sortOrder": 6,
              "id": "7"
            },
            "link": [
              {
                "queryString": "#alimentacion"
              }
            ],
            "image": [
              {
                "key": "a24d18aa-3579-489d-a486-a4b47ce89472",
                "mediaKey": "15f34333-4f32-40f7-923d-a6682f88287d"
              }
            ]
          },
          {
            "contentTypeKey": "7404887b-a8af-467d-a36a-cb93ac813e4e",
            "udi": "umb://element/eeb54301b52b426f8895cbf7eed9a3f7",
            "text": "Dona desde mil pesos",
            "color": {
              "value": "9cc11c",
              "label": "9cc11c",
              "sortOrder": 6,
              "id": "7"
            },
            "link": [
              {
                "queryString": "#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjMzOSIsInRvZ2dsZSI6ZmFsc2V9"
              }
            ],
            "image": [
              {
                "key": "080a31f4-63d0-484a-92d9-f690f02e4d16",
                "mediaKey": "febfc272-da63-4e38-a3dc-ee7ec97b59fc"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "b3e9b15d-0ac0-42e7-9c6b-251d10660239",
      "udi": "umb://element/c26f42c8eba94ac88ac0da2b75459360",
      "buttonsList": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/efdf8db1b6174b2396f4e0679c376cfb"
            },
            {
              "contentUdi": "umb://element/8047ca8349604ba38eeb5627f86bb285"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7404887b-a8af-467d-a36a-cb93ac813e4e",
            "udi": "umb://element/efdf8db1b6174b2396f4e0679c376cfb",
            "text": "Tienda",
            "color": {
              "value": "066eb1",
              "label": "066eb1",
              "sortOrder": 7,
              "id": "8"
            },
            "link": [
              {
                "url": "",
                "queryString": "#tienda"
              }
            ],
            "image": [
              {
                "key": "29f97f34-aefa-4a34-af51-d48e45dc6e60",
                "mediaKey": "29063c44-bc69-4905-b296-222c6c723b38"
              }
            ]
          },
          {
            "contentTypeKey": "7404887b-a8af-467d-a36a-cb93ac813e4e",
            "udi": "umb://element/8047ca8349604ba38eeb5627f86bb285",
            "text": "Bonos Nutrir",
            "color": {
              "value": "066eb1",
              "label": "066eb1",
              "sortOrder": 7,
              "id": "8"
            },
            "link": [
              {
                "queryString": "#bonos"
              }
            ],
            "image": [
              {
                "key": "e20830ad-aedd-48db-b87f-5f616e7f91fa",
                "mediaKey": "b931debd-3b0c-459f-852b-5296c37f74e7"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "b3e9b15d-0ac0-42e7-9c6b-251d10660239",
      "udi": "umb://element/0a6fbf02975f4387bc8868db4c59547f",
      "buttonsList": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ef73760700c84428bbc74a0524475c96"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7404887b-a8af-467d-a36a-cb93ac813e4e",
            "udi": "umb://element/ef73760700c84428bbc74a0524475c96",
            "text": "Campaña del mes",
            "color": {
              "value": "9cc11c",
              "label": "9cc11c",
              "sortOrder": 6,
              "id": "7"
            },
            "link": [
              {
                "queryString": "#padrino"
              }
            ],
            "image": [
              {
                "key": "0d51e043-ad37-4059-a515-b6b14214c97c",
                "mediaKey": "70c5b554-9451-4850-b5fa-d8587e83339d"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "f13a4988-6541-42c6-a00e-b124fa2cfe14",
      "udi": "umb://element/a4ca99adb47a4ee29685d7b02065025e",
      "listOfButtons": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9ba4a0d104854f6e875defbb16576e0d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fbd8606a-d0d2-4705-838e-7dde4e458939",
            "udi": "umb://element/9ba4a0d104854f6e875defbb16576e0d",
            "imageDesktop": [
              {
                "key": "06f535c2-9d55-405b-ac55-1db0cc311ee2",
                "mediaKey": "96f413bf-bd5f-467b-a016-8ea041181277"
              }
            ],
            "imageMobile": [
              {
                "key": "66ed344f-61cc-4b09-9770-cf67b6eb41ed",
                "mediaKey": "96f413bf-bd5f-467b-a016-8ea041181277"
              }
            ],
            "link": [
              {
                "target": "_blank",
                "url": "https://api.whatsapp.com/send/",
                "queryString": "?phone=573216453086&text&type=phone_number&app_absent=0"
              }
            ],
            "horizontalAlignment": "",
            "padding": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "4e7720f1-8265-4fa9-acbf-5a9c7044f60c",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Cómo Ayudar - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>