<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cc9e3bc-cfa3-4b6a-94f5-4dc6ac138bf7" Alias="Contactanos" Level="2">
  <Info>
    <Parent Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea">Inicio</Parent>
    <Path>/Inicio/Contactanos</Path>
    <Trashed>false</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-17T18:25:12</CreateDate>
    <NodeName Default="Contactanos" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "2b2aab60-daf1-4ca6-a40e-5d9c6dcf24e2",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7d2d9d7ab8954e7b8dc3d1f6a21a7545"
      },
      {
        "contentUdi": "umb://element/25c5776d5bb348a182750ef6936f0e09"
      },
      {
        "contentUdi": "umb://element/6c66facae55c4ab3be40846dd9940823"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c3de242f-9fb4-4884-a431-e99e78eff9a3",
      "udi": "umb://element/7d2d9d7ab8954e7b8dc3d1f6a21a7545",
      "title": "ENCUENTRANOS EN:",
      "fullAddress": "Carrera 19 # 72A -18 Alta Suiza",
      "city": "Manizales",
      "state": "Caldas",
      "country": "Colombia",
      "phoneNumber": "(606)8867000",
      "whatsApp": "3216453086",
      "eMail": "comercial@nutrirong.com",
      "googleMapsSource": "https://www.google.com/maps/embed/v1/place?key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8&q=Cra.%2019%20%2372-40%2C%20Manizales%2C%20Caldas&zoom=16&maptype=roadmap"
    },
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/25c5776d5bb348a182750ef6936f0e09",
      "content": {
        "markup": "<h2 class=\"elementor-heading-title elementor-size-default\" style=\"text-align: center;\"><span class=\"textType2\"><strong>Contáctanos</strong></span></h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e516b7ac-d6e2-4005-923b-8f89bc88e95a",
      "udi": "umb://element/6c66facae55c4ab3be40846dd9940823",
      "targetEmail": "sebastianramirez1207@gmail.com"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "b3875adc-4fd1-4397-afd2-30da2902f76a",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Contáctanos - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>