<?xml version="1.0" encoding="utf-8"?>
<Content Key="583b38b2-8c1c-468c-bb7d-52d9830a4f35" Alias="Delantal para niños" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/DelantalParaNinos</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-23T18:16:06</CreateDate>
    <NodeName Default="Delantal para niños" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Misceláneos"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Delantal Nutrir talla unica para Niños</p>\n<p>Adquiriendo nuestros productos, ayudas a financiar la alimentación de nuestros niños, niñas, madres gestantes y lactantes en los comedores de la Fundación Nutrir.</p>\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "998f02f6-6dae-4feb-a61d-e4e3a635c24c",
    "mediaKey": "c8ae0a6a-193b-4c30-944f-ca1dcf0e9d1c"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Delantal para niños]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[30000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información del delantal Nutrir para niños?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>