<?xml version="1.0" encoding="utf-8"?>
<Content Key="97ed3307-2647-438f-a161-295ab3b8674b" Alias="Encuestas de Satisfacción" Level="3">
  <Info>
    <Parent Key="0cc9e3bc-cfa3-4b6a-94f5-4dc6ac138bf7">Contactanos</Parent>
    <Path>/Inicio/Contactanos/EncuestasDeSatisfaccion</Path>
    <Trashed>false</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-18T17:50:00</CreateDate>
    <NodeName Default="Encuestas de Satisfacción" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "241fe8d7-8348-41f5-802e-cf0441a81243",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "74acc57b-b2f9-4f12-b12f-be71ed436b0d",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Encuestas de Satisfacción - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>