<?xml version="1.0" encoding="utf-8"?>
<Content Key="97ed3307-2647-438f-a161-295ab3b8674b" Alias="Encuestas de Satisfacción" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/EncuestasDeSatisfaccion</Path>
    <Trashed Parent="0cc9e3bc-cfa3-4b6a-94f5-4dc6ac138bf7">true</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-18T17:50:00</CreateDate>
    <NodeName Default="Encuestas de Satisfacción" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "241fe8d7-8348-41f5-802e-cf0441a81243",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/16e73b8f770c4085943bd877a2b3f8de"
      },
      {
        "contentUdi": "umb://element/506661c5153f4313a5b2ebbaa303ce5e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c3de242f-9fb4-4884-a431-e99e78eff9a3",
      "udi": "umb://element/506661c5153f4313a5b2ebbaa303ce5e",
      "title": "fefe",
      "fullAddress": "wee",
      "city": "fefe",
      "state": "weef",
      "country": "efe",
      "phoneNumber": "wee",
      "whatsApp": "fefe",
      "eMail": "Sebastianramirez1207@gmail.com",
      "googleMapsSource": "https://www.google.com/maps/embed/v1/place?key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8&q=Cra.%2019%20%2372-40%2C%20Manizales%2C%20Caldas&zoom=16&maptype=roadmap"
    },
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/16e73b8f770c4085943bd877a2b3f8de",
      "content": {
        "markup": "<p style=\"text-align: center;\"><span class=\"textType2\">titulo</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "74acc57b-b2f9-4f12-b12f-be71ed436b0d",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Encuestas de Satisfacción - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>