<?xml version="1.0" encoding="utf-8"?>
<Content Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea" Alias="Inicio" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Inicio</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-07-16T18:42:05</CreateDate>
    <NodeName Default="Inicio">
      <Name Culture="es-co">Inicio</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="es-co">true</Published>
    </Published>
    <Schedule />
    <Template Key="612cedd4-9752-4e69-a796-d3382495e746">HomePage</Template>
  </Info>
  <Properties>
    <desktopArrows>
      <Value><![CDATA[[
  {
    "key": "849b14e7-848b-48bd-8291-01817bcec708",
    "mediaKey": "f872ca8e-5a0f-4c68-8dab-8ab2ccf7854c"
  }
]]]></Value>
    </desktopArrows>
    <DonationOption>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f120339ebb344c1a13d263652a48f75"
      },
      {
        "contentUdi": "umb://element/7e96034c58f945a39f4f67ee66efe98e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f654f844-d6f6-4498-8bde-48200563c0de",
      "udi": "umb://element/5f120339ebb344c1a13d263652a48f75",
      "image": [
        {
          "key": "0c47803f-ab30-483e-83b9-7bb253e78781",
          "mediaKey": "2304d486-9c48-4e95-b927-5367345959d8"
        }
      ],
      "link": [
        {
          "name": "PSE link",
          "target": "_blank",
          "url": "https://www.psepagos.co/PSEHostingUI/ShowTicketOffice.aspx",
          "queryString": "?ID=1665"
        }
      ],
      "caption": "Pago por pse"
    },
    {
      "contentTypeKey": "f654f844-d6f6-4498-8bde-48200563c0de",
      "udi": "umb://element/7e96034c58f945a39f4f67ee66efe98e",
      "image": [
        {
          "key": "44c44082-1167-4f5d-b3f7-0f6fdbaa5525",
          "mediaKey": "2c348850-1b2a-4cd7-a3c6-4a95e9bffc97"
        }
      ],
      "link": [
        {
          "name": "PayU payment",
          "target": "_blank",
          "url": "https://www.nutrirong.com/payu/"
        }
      ],
      "caption": "Pago por PayU"
    }
  ],
  "settingsData": []
}]]></Value>
    </DonationOption>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "2b701d17-e6da-403a-aed4-a9a03c2685a5",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <footerContent>
      <Value Culture="es-co"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/78ee1b5b36a1409982274003e1cd8020"
      },
      {
        "contentUdi": "umb://element/543334330a3f4a309febdaf04fa3d6b0"
      },
      {
        "contentUdi": "umb://element/f35a7c6d935c40de93f9e68ce2012bed"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/78ee1b5b36a1409982274003e1cd8020",
      "content": {
        "markup": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"DictionaryValueMacro\" dictionaryKey=\"Footer.Copyright\" />\n<p> </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/543334330a3f4a309febdaf04fa3d6b0",
      "content": {
        "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"DictionaryValueMacro\" dictionaryKey=\"Footer.VisitUs\" />\n<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"DictionaryValueMacro\" dictionaryKey=\"Footer.City\" />\n<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"DictionaryValueMacro\" dictionaryKey=\"Footer.Address\" />\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
      "udi": "umb://element/f35a7c6d935c40de93f9e68ce2012bed",
      "image": [
        {
          "key": "39cb78ef-9feb-4a40-b958-70ceea7b84df",
          "mediaKey": "fa2f6bb5-4a55-4138-8669-a514dd9fcd2a"
        }
      ],
      "caption": "img-certificado-icontec codigo nutrir",
      "link": [
        {
          "url": "https://nutrirong-my.sharepoint.com/personal/comunicacion_nutrirong_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fcomunicacion%5Fnutrirong%5Fcom%2FDocuments%2Farchivos%20pagina%2FCOMIT%C3%89%20ASESOR%20VOLUNTARIO%20DE%20NUTRICI%C3%93N%5FISO%209001%2Epdf&parent=%2Fpersonal%2Fcomunicacion%5Fnutrirong%5Fcom%2FDocuments%2Farchivos%20pagina&ga=1"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://www.facebook.com/nutrirong/"
  },
  {
    "network": "Whatsapp",
    "name": "Whatsapp",
    "url": "https://wa.me/+573216453086"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/nutrirong?utm_medium=copy_link"
  },
  {
    "network": "x-twitter",
    "name": "X (formerly Twitter)",
    "url": "https://twitter.com/NutrirONG"
  }
]]]></Value>
    </footerSocialLinks>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5fb3ea2f5df24cf3b3054897d5bb2c89"
      },
      {
        "contentUdi": "umb://element/d1211ad292ed4854a2bf21bd0daa64d5"
      },
      {
        "contentUdi": "umb://element/d54ab50fa131419fba32bb8e0f93ab1e"
      },
      {
        "contentUdi": "umb://element/8704cbe0099c4d6294accfd53535d335"
      },
      {
        "contentUdi": "umb://element/db071cfbd3934d02a68142c546fc6f29"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/5fb3ea2f5df24cf3b3054897d5bb2c89",
      "content": {
        "markup": "<p style=\"text-align: center;\">La Fundación Nutrir nace en el año 1986 atendiendo a la relevancia social y económica que tiene el problema del hambre y la desnutrición infantil en la región; entidad sin ánimo de lucro, creada con el fin de desarrollar programas de complementación alimentaria y educación nutricional que permitan disminuir los niveles de desnutrición infantil.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "299d2d89-31bb-459a-a92c-f63faf676cd7",
      "udi": "umb://element/d1211ad292ed4854a2bf21bd0daa64d5",
      "title": "PROBLEMÁTICA",
      "titleColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "imageDesktop": [
        {
          "key": "bd84f6ca-c3b8-42da-940b-130d574e1892",
          "mediaKey": "462ce50f-cca2-4852-9313-4a0540cc00c5"
        }
      ],
      "imageMobile": [
        {
          "key": "89f4f9b1-2956-4372-abb1-3db474978893",
          "mediaKey": "7e109b60-45de-460b-9cf1-a16396e66f39"
        }
      ]
    },
    {
      "contentTypeKey": "299d2d89-31bb-459a-a92c-f63faf676cd7",
      "udi": "umb://element/8704cbe0099c4d6294accfd53535d335",
      "imageDesktop": [
        {
          "key": "57ece629-4e79-4b4a-9291-5561ed81c302",
          "mediaKey": "428b3484-191e-4560-8f88-95cc40f399cb"
        }
      ],
      "title": "NUESTRO IMPACTO",
      "titleColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "imageMobile": [
        {
          "key": "b8cab33b-eadd-4084-bf7f-0a2775aa1cca",
          "mediaKey": "433ad420-bf3a-4372-b757-1d1a81cb8f17"
        }
      ]
    },
    {
      "contentTypeKey": "299d2d89-31bb-459a-a92c-f63faf676cd7",
      "udi": "umb://element/db071cfbd3934d02a68142c546fc6f29",
      "imageDesktop": [
        {
          "key": "0768f1a2-32bc-4d72-b1e6-ff83e54f9676",
          "mediaKey": "ce09b78f-20a4-4fed-9a52-4e8657b39c3d"
        }
      ],
      "title": "¿CÓMO AYUDAR?",
      "titleColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "imageMobile": [
        {
          "key": "274033e5-63fe-4958-a612-50463154d606",
          "mediaKey": "e80bdebb-21c8-4a7a-9ae6-04108a6e17cb"
        }
      ]
    },
    {
      "contentTypeKey": "798a0529-0345-475e-b349-9833063a9770",
      "udi": "umb://element/d54ab50fa131419fba32bb8e0f93ab1e",
      "list": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f31713e99efb40f48a5e588d37e88ed6"
            },
            {
              "contentUdi": "umb://element/bda7efd51830488a9b359773f2766c4a"
            },
            {
              "contentUdi": "umb://element/a56b32d8f67347ad8b677f09a69446d6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/f31713e99efb40f48a5e588d37e88ed6",
            "text": "Niños entre 5 y 12 años presenta retraso en la talla",
            "image": [
              {
                "key": "849adabd-36f8-40aa-ba92-e602af4bd098",
                "mediaKey": "52ad38b1-a8fa-43ec-932b-41919d01434d"
              }
            ]
          },
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/bda7efd51830488a9b359773f2766c4a",
            "text": "Niños menores de 5 años presentan desnutrición crónica",
            "image": [
              {
                "key": "831c0f59-41b1-4d82-82dc-5099553aedf9",
                "mediaKey": "5804ea60-a5a3-4265-82b0-e5867ed2941e"
              }
            ]
          },
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/a56b32d8f67347ad8b677f09a69446d6",
            "text": "Niños menores de 5 años tiene lactancia materna exclusiva hasta los 6 meses",
            "image": [
              {
                "key": "67fb37c1-948e-483d-8daf-ab8babf4e991",
                "mediaKey": "eabf9ead-f3ca-4220-9b9d-b1a7cc5bb6c0"
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5a2736ae20a6408abdfe96a21f1e813b"
      },
      {
        "contentUdi": "umb://element/b8a4d65581db4e9492c689644bc1f8b0"
      },
      {
        "contentUdi": "umb://element/87d65b7c36f546b893e37f9301e932fa"
      },
      {
        "contentUdi": "umb://element/4e4adb97a44249ff9817fd9d1cfdf1e7"
      },
      {
        "contentUdi": "umb://element/a00a8de3309940a391263e1b2aa02d4e"
      },
      {
        "contentUdi": "umb://element/800f455e74404c0da3e276feb364d4b2"
      },
      {
        "contentUdi": "umb://element/db630249a66a4fbfb18390743fd1c1f3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/5a2736ae20a6408abdfe96a21f1e813b",
      "title": "Inicio",
      "link": [
        {
          "udi": "umb://document/42b01c08de6c43a1bd0c164d6909c3ea"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/b8a4d65581db4e9492c689644bc1f8b0",
      "title": "Sobre Nosotros",
      "link": [
        {
          "udi": "umb://document/674c62a71c0943ddaa5dd23751bcfd9a"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/87d65b7c36f546b893e37f9301e932fa",
      "title": "Problemática",
      "link": [
        {
          "udi": "umb://document/d3f4ce8e683d466db5a10fc1aa946764"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/4e4adb97a44249ff9817fd9d1cfdf1e7",
      "title": "Impacto",
      "link": [
        {
          "udi": "umb://document/14fd64e64b1b4a2abc6a6529f7652970"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/a00a8de3309940a391263e1b2aa02d4e",
      "title": "Cómo Ayudar",
      "link": [
        {
          "udi": "umb://document/1b2d644133b6446b8c0268e8cc80f3c8"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/800f455e74404c0da3e276feb364d4b2",
      "title": "Contáctanos",
      "link": [
        {
          "udi": "umb://document/0cc9e3bccfa34b6a94f54dc6ac138bf7"
        }
      ],
      "childLinks2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/16342e6e14d241b6ae5c4b7dd5ac2e13"
            },
            {
              "contentUdi": "umb://element/89ec6640185c4c5bbd95c6d4d70e7166"
            },
            {
              "contentUdi": "umb://element/7290993d5f6a4ff1b29b2eb1f5043abd"
            },
            {
              "contentUdi": "umb://element/8fbf31477ba84773a3acb36c6c46ebde"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
            "udi": "umb://element/16342e6e14d241b6ae5c4b7dd5ac2e13",
            "title": "Contáctanos",
            "link": [
              {
                "udi": "umb://document/0cc9e3bccfa34b6a94f54dc6ac138bf7"
              }
            ],
            "childLinks2": ""
          },
          {
            "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
            "udi": "umb://element/89ec6640185c4c5bbd95c6d4d70e7166",
            "title": "Encuestas de Satisfacción",
            "link": [
              {
                "udi": "umb://document/97ed33072647438fa161295ab3b8674b"
              }
            ],
            "childLinks2": ""
          },
          {
            "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
            "udi": "umb://element/7290993d5f6a4ff1b29b2eb1f5043abd",
            "title": "PQRFA",
            "link": [
              {
                "udi": "umb://document/901bd580957844dfac899d24bab18404"
              }
            ],
            "childLinks2": ""
          },
          {
            "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
            "udi": "umb://element/8fbf31477ba84773a3acb36c6c46ebde",
            "title": "Certificados de donación",
            "link": [
              {
                "udi": "umb://document/14a0663d8b8f46cc894f12e632226119"
              }
            ],
            "childLinks2": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/db630249a66a4fbfb18390743fd1c1f3",
      "title": "Tienda",
      "link": [
        {
          "udi": "umb://document/d625a1223b0c48c6b32905b76ee0d84f"
        }
      ],
      "childLinks2": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <mobileArrows>
      <Value><![CDATA[[
  {
    "key": "e90cba92-3dc5-481b-8a7d-797879148da5",
    "mediaKey": "4f502d1f-5a99-48af-87a2-6c3be7877957"
  }
]]]></Value>
    </mobileArrows>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "c3cc36f1-03e6-45aa-b9f4-c735bab86d24",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Fundacion Nutrir]]></Value>
    </title>
  </Properties>
</Content>