<?xml version="1.0" encoding="utf-8"?>
<Content Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea" Alias="Inicio" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Inicio</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-07-16T18:42:05</CreateDate>
    <NodeName Default="Inicio">
      <Name Culture="es-co">Inicio</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="es-co">true</Published>
    </Published>
    <Schedule />
    <Template Key="612cedd4-9752-4e69-a796-d3382495e746">HomePage</Template>
  </Info>
  <Properties>
    <desktopArrows>
      <Value><![CDATA[[
  {
    "key": "849b14e7-848b-48bd-8291-01817bcec708",
    "mediaKey": "f872ca8e-5a0f-4c68-8dab-8ab2ccf7854c"
  }
]]]></Value>
    </desktopArrows>
    <DonationOption>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f120339ebb344c1a13d263652a48f75"
      },
      {
        "contentUdi": "umb://element/7e96034c58f945a39f4f67ee66efe98e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f654f844-d6f6-4498-8bde-48200563c0de",
      "udi": "umb://element/5f120339ebb344c1a13d263652a48f75",
      "image": [
        {
          "key": "0c47803f-ab30-483e-83b9-7bb253e78781",
          "mediaKey": "2304d486-9c48-4e95-b927-5367345959d8"
        }
      ],
      "link": [
        {
          "name": "PSE link",
          "target": "_blank",
          "url": "https://www.psepagos.co/PSEHostingUI/ShowTicketOffice.aspx",
          "queryString": "?ID=1665"
        }
      ],
      "caption": "Pago por pse"
    },
    {
      "contentTypeKey": "f654f844-d6f6-4498-8bde-48200563c0de",
      "udi": "umb://element/7e96034c58f945a39f4f67ee66efe98e",
      "image": [
        {
          "key": "44c44082-1167-4f5d-b3f7-0f6fdbaa5525",
          "mediaKey": "2c348850-1b2a-4cd7-a3c6-4a95e9bffc97"
        }
      ],
      "link": [
        {
          "name": "PayU payment",
          "target": "_blank",
          "url": "https://www.nutrirong.com/payu/"
        }
      ],
      "caption": "Pago por PayU"
    }
  ],
  "settingsData": []
}]]></Value>
    </DonationOption>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "2b701d17-e6da-403a-aed4-a9a03c2685a5",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <footerContent>
      <Value Culture="es-co"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/78ee1b5b36a1409982274003e1cd8020"
      },
      {
        "contentUdi": "umb://element/543334330a3f4a309febdaf04fa3d6b0"
      },
      {
        "contentUdi": "umb://element/f35a7c6d935c40de93f9e68ce2012bed"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/78ee1b5b36a1409982274003e1cd8020",
      "content": {
        "markup": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"DictionaryValueMacro\" dictionaryKey=\"Footer.Copyright\" />\n<p> </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/543334330a3f4a309febdaf04fa3d6b0",
      "content": {
        "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"DictionaryValueMacro\" dictionaryKey=\"Footer.VisitUs\" />\n<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"DictionaryValueMacro\" dictionaryKey=\"Footer.City\" />\n<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"DictionaryValueMacro\" dictionaryKey=\"Footer.Address\" />\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
      "udi": "umb://element/f35a7c6d935c40de93f9e68ce2012bed",
      "image": [
        {
          "key": "39cb78ef-9feb-4a40-b958-70ceea7b84df",
          "mediaKey": "fa2f6bb5-4a55-4138-8669-a514dd9fcd2a"
        }
      ],
      "caption": "img-certificado-icontec codigo nutrir",
      "link": [
        {
          "url": "https://nutrirong-my.sharepoint.com/personal/comunicacion_nutrirong_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fcomunicacion%5Fnutrirong%5Fcom%2FDocuments%2Farchivos%20pagina%2FCOMIT%C3%89%20ASESOR%20VOLUNTARIO%20DE%20NUTRICI%C3%93N%5FISO%209001%2Epdf&parent=%2Fpersonal%2Fcomunicacion%5Fnutrirong%5Fcom%2FDocuments%2Farchivos%20pagina&ga=1"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://www.facebook.com/nutrirong/"
  },
  {
    "network": "Whatsapp",
    "name": "Whatsapp",
    "url": "https://wa.me/+573216453086"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/nutrirong?utm_medium=copy_link"
  },
  {
    "network": "x-twitter",
    "name": "X (formerly Twitter)",
    "url": "https://twitter.com/NutrirONG"
  }
]]]></Value>
    </footerSocialLinks>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/43dbd2abb23c4ae78053e2c695b528bd"
      },
      {
        "contentUdi": "umb://element/5fb3ea2f5df24cf3b3054897d5bb2c89"
      },
      {
        "contentUdi": "umb://element/d1211ad292ed4854a2bf21bd0daa64d5"
      },
      {
        "contentUdi": "umb://element/d54ab50fa131419fba32bb8e0f93ab1e"
      },
      {
        "contentUdi": "umb://element/890f3567c69245d8aacde0ce5757de7c"
      },
      {
        "contentUdi": "umb://element/8704cbe0099c4d6294accfd53535d335"
      },
      {
        "contentUdi": "umb://element/ec6eda9849de4f35bf15c38a628f4218"
      },
      {
        "contentUdi": "umb://element/aa71cc1990cb48a7b392ba8557f345a3"
      },
      {
        "contentUdi": "umb://element/db071cfbd3934d02a68142c546fc6f29"
      },
      {
        "contentUdi": "umb://element/27831e88b49344e69c967773afb6d82a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/5fb3ea2f5df24cf3b3054897d5bb2c89",
      "content": {
        "markup": "<p style=\"text-align: center;\">La Fundación Nutrir nace en el año 1986 atendiendo a la relevancia social y económica que tiene el problema del hambre y la desnutrición infantil en la región; entidad sin ánimo de lucro, creada con el fin de desarrollar programas de complementación alimentaria y educación nutricional que permitan disminuir los niveles de desnutrición infantil.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "299d2d89-31bb-459a-a92c-f63faf676cd7",
      "udi": "umb://element/d1211ad292ed4854a2bf21bd0daa64d5",
      "title": "PROBLEMÁTICA",
      "titleColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "imageDesktop": [
        {
          "key": "bd84f6ca-c3b8-42da-940b-130d574e1892",
          "mediaKey": "462ce50f-cca2-4852-9313-4a0540cc00c5"
        }
      ],
      "imageMobile": [
        {
          "key": "89f4f9b1-2956-4372-abb1-3db474978893",
          "mediaKey": "7e109b60-45de-460b-9cf1-a16396e66f39"
        }
      ]
    },
    {
      "contentTypeKey": "299d2d89-31bb-459a-a92c-f63faf676cd7",
      "udi": "umb://element/8704cbe0099c4d6294accfd53535d335",
      "imageDesktop": [
        {
          "key": "57ece629-4e79-4b4a-9291-5561ed81c302",
          "mediaKey": "428b3484-191e-4560-8f88-95cc40f399cb"
        }
      ],
      "title": "NUESTRO IMPACTO",
      "titleColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "imageMobile": [
        {
          "key": "b8cab33b-eadd-4084-bf7f-0a2775aa1cca",
          "mediaKey": "433ad420-bf3a-4372-b757-1d1a81cb8f17"
        }
      ]
    },
    {
      "contentTypeKey": "299d2d89-31bb-459a-a92c-f63faf676cd7",
      "udi": "umb://element/db071cfbd3934d02a68142c546fc6f29",
      "imageDesktop": [
        {
          "key": "0768f1a2-32bc-4d72-b1e6-ff83e54f9676",
          "mediaKey": "ce09b78f-20a4-4fed-9a52-4e8657b39c3d"
        }
      ],
      "title": "¿CÓMO AYUDAR?",
      "titleColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "imageMobile": [
        {
          "key": "274033e5-63fe-4958-a612-50463154d606",
          "mediaKey": "e80bdebb-21c8-4a7a-9ae6-04108a6e17cb"
        }
      ]
    },
    {
      "contentTypeKey": "798a0529-0345-475e-b349-9833063a9770",
      "udi": "umb://element/d54ab50fa131419fba32bb8e0f93ab1e",
      "list": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f31713e99efb40f48a5e588d37e88ed6"
            },
            {
              "contentUdi": "umb://element/bda7efd51830488a9b359773f2766c4a"
            },
            {
              "contentUdi": "umb://element/a56b32d8f67347ad8b677f09a69446d6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/f31713e99efb40f48a5e588d37e88ed6",
            "text": "Niños entre 5 y 12 años presenta retraso en la talla",
            "image": [
              {
                "key": "849adabd-36f8-40aa-ba92-e602af4bd098",
                "mediaKey": "52ad38b1-a8fa-43ec-932b-41919d01434d"
              }
            ]
          },
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/bda7efd51830488a9b359773f2766c4a",
            "text": "Niños menores de 5 años presentan desnutrición crónica",
            "image": [
              {
                "key": "831c0f59-41b1-4d82-82dc-5099553aedf9",
                "mediaKey": "5804ea60-a5a3-4265-82b0-e5867ed2941e"
              }
            ]
          },
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/a56b32d8f67347ad8b677f09a69446d6",
            "text": "Niños menores de 5 años tiene lactancia materna exclusiva hasta los 6 meses",
            "image": [
              {
                "key": "67fb37c1-948e-483d-8daf-ab8babf4e991",
                "mediaKey": "eabf9ead-f3ca-4220-9b9d-b1a7cc5bb6c0"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "d7ac03d7-502e-4f6d-bbba-037b1ee658f9",
      "udi": "umb://element/890f3567c69245d8aacde0ce5757de7c",
      "link": [
        {
          "name": "Problemática",
          "udi": "umb://document/d3f4ce8e683d466db5a10fc1aa946764"
        }
      ],
      "color": {
        "value": "9bc11c",
        "label": "9bc11c",
        "sortOrder": 4,
        "id": "5"
      },
      "text": "Conoce más"
    },
    {
      "contentTypeKey": "d7ac03d7-502e-4f6d-bbba-037b1ee658f9",
      "udi": "umb://element/aa71cc1990cb48a7b392ba8557f345a3",
      "text": "Conoce más",
      "link": [
        {
          "name": "Impacto",
          "udi": "umb://document/14fd64e64b1b4a2abc6a6529f7652970"
        }
      ],
      "color": {
        "value": "9bc11c",
        "label": "9bc11c",
        "sortOrder": 4,
        "id": "5"
      }
    },
    {
      "contentTypeKey": "df203883-66ab-4091-8af9-1cf0d4559150",
      "udi": "umb://element/ec6eda9849de4f35bf15c38a628f4218",
      "desktopImages": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4bf0cd77b27e4e6fbb81ac3d71824071"
            },
            {
              "contentUdi": "umb://element/8d8e4a6a5b2e42a1851930223655fd0f"
            },
            {
              "contentUdi": "umb://element/dc49abf27ea94108aeabb7e9b1ed4a44"
            },
            {
              "contentUdi": "umb://element/c9bc08487620446c8c4142e51d3cf895"
            },
            {
              "contentUdi": "umb://element/87e22749c42b48338fa4bf499d7436c1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/4bf0cd77b27e4e6fbb81ac3d71824071",
            "image": [
              {
                "key": "07147e16-0f31-4725-a1c1-949f72d3cc69",
                "mediaKey": "8a2fe0e1-ac5d-427f-bcb1-2a5bb96cae43"
              }
            ],
            "caption": "1986 a 1991",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/8d8e4a6a5b2e42a1851930223655fd0f",
            "image": [
              {
                "key": "c286d66a-e654-4948-9db2-8b852f16d0c6",
                "mediaKey": "98bf0508-975e-4757-aba9-1c9739ac9b5e"
              }
            ],
            "caption": "1992 a 2000",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/dc49abf27ea94108aeabb7e9b1ed4a44",
            "image": [
              {
                "key": "9da0b589-c2d6-4512-a2dc-ee05a6b8c9c9",
                "mediaKey": "53a990e7-9483-4c38-9ed0-aa2a824feef8"
              }
            ],
            "caption": "2003 a 2008",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/c9bc08487620446c8c4142e51d3cf895",
            "image": [
              {
                "key": "e810e387-1815-4449-bb46-1bf99de6d5ba",
                "mediaKey": "6f3fd486-88aa-4439-ab44-bdf0f4b72623"
              }
            ],
            "caption": "2012 a 2017",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/87e22749c42b48338fa4bf499d7436c1",
            "image": [
              {
                "key": "6e717429-5942-42d5-9683-808496df2221",
                "mediaKey": "bcf6be77-f370-4553-a8df-784b9b346195"
              }
            ],
            "caption": "2018 a 2021",
            "link": ""
          }
        ],
        "settingsData": []
      },
      "mobileImages": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0acc9e7e6e36470a805f0ba1fcd2e913"
            },
            {
              "contentUdi": "umb://element/c797cf47e4604e56b187f47fe9f28d6a"
            },
            {
              "contentUdi": "umb://element/9d0560ea726346f9b945322d4dd0f8d0"
            },
            {
              "contentUdi": "umb://element/aa726b3341ab4a5fb8af90495260f4c1"
            },
            {
              "contentUdi": "umb://element/2a07e09c5ae042cb83647558c989c7cc"
            },
            {
              "contentUdi": "umb://element/70c98cb91fec4abc864c8c7622327447"
            },
            {
              "contentUdi": "umb://element/7684c83a0dcc4c0693fbc2ed2cc0d524"
            },
            {
              "contentUdi": "umb://element/f5c99c62519842dfa40a246c2134f8e9"
            },
            {
              "contentUdi": "umb://element/a6d9d9ab2278498b841cdab7a6415e29"
            },
            {
              "contentUdi": "umb://element/64597e7a7ebc4ebbab1242001bed18d8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/0acc9e7e6e36470a805f0ba1fcd2e913",
            "image": [
              {
                "key": "97a9e00d-7ac2-4178-ae2f-bf6e1c0d023a",
                "mediaKey": "6bddf978-0d17-4a6e-9139-1fb6c8f3c95a"
              }
            ],
            "caption": "1986",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/c797cf47e4604e56b187f47fe9f28d6a",
            "image": [
              {
                "key": "0ef0f754-1323-43f7-ab5e-87469d554f6e",
                "mediaKey": "fa44861f-a842-42c7-8fbe-c68ec0ee6857"
              }
            ],
            "caption": "1989",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/9d0560ea726346f9b945322d4dd0f8d0",
            "image": [
              {
                "key": "8778eda7-2a82-4013-8d9a-0ab25e57942e",
                "mediaKey": "5f3643fd-274d-41a9-8db6-fc21ea28bd96"
              }
            ],
            "caption": "1992",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/aa726b3341ab4a5fb8af90495260f4c1",
            "image": [
              {
                "key": "14e1016b-d5d7-45be-a40c-3cde4cba2b89",
                "mediaKey": "c3a8d3dc-2467-47f1-9f58-e486e238e318"
              }
            ],
            "caption": "1997",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/2a07e09c5ae042cb83647558c989c7cc",
            "image": [
              {
                "key": "20bbdfbb-9877-46ea-b4b9-3b6077fd84eb",
                "mediaKey": "eb6f2d67-c56a-4322-8100-b7525cac5161"
              }
            ],
            "caption": "2003",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/70c98cb91fec4abc864c8c7622327447",
            "image": [
              {
                "key": "f5e27601-adb1-49a4-8305-0a1d8afdad20",
                "mediaKey": "b299d85c-c1e9-4900-94bd-006b7b4a2dfe"
              }
            ],
            "caption": "2005",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/7684c83a0dcc4c0693fbc2ed2cc0d524",
            "image": [
              {
                "key": "0e98167e-94d2-4271-a9be-477d9f321b19",
                "mediaKey": "3dfaa00b-150c-47e4-946f-3c966a6db917"
              }
            ],
            "caption": "2012",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/f5c99c62519842dfa40a246c2134f8e9",
            "image": [
              {
                "key": "b02548f8-5a43-4f29-803b-1b0db6ab9de0",
                "mediaKey": "5b729351-b09a-4aeb-9b13-09ca2cdb3a4b"
              }
            ],
            "caption": "2015",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/a6d9d9ab2278498b841cdab7a6415e29",
            "image": [
              {
                "key": "49173a53-aff7-4abe-a6d6-7245dba7e076",
                "mediaKey": "ded06445-c5e9-4f6a-a59d-9d1383c7213e"
              }
            ],
            "caption": "2018",
            "link": ""
          },
          {
            "contentTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
            "udi": "umb://element/64597e7a7ebc4ebbab1242001bed18d8",
            "image": [
              {
                "key": "eebedf20-98ad-4e71-b8de-f6b6c6ae0e9c",
                "mediaKey": "3ab65a84-9034-4c5e-add1-17b28b438c79"
              }
            ],
            "caption": "2020",
            "link": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "b3e9b15d-0ac0-42e7-9c6b-251d10660239",
      "udi": "umb://element/27831e88b49344e69c967773afb6d82a",
      "buttonsList": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/124d04234b0941c886261efd922d5870"
            },
            {
              "contentUdi": "umb://element/244870814e124b9b9d9ef26c4d1c196c"
            },
            {
              "contentUdi": "umb://element/78639616f02440fe8ff19c1ed95f92b9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7404887b-a8af-467d-a36a-cb93ac813e4e",
            "udi": "umb://element/124d04234b0941c886261efd922d5870",
            "text": "Plan Padrino Nutrir",
            "link": [
              {
                "name": "Plan Padrino",
                "url": "https://www.nutrirong.com/ayuda/#padrino",
                "queryString": "#padrino"
              }
            ],
            "image": [
              {
                "key": "17ac5b75-47c2-4838-892e-ed7071700889",
                "mediaKey": "a4f3096a-1b98-4527-b3fc-df1b01ff0663"
              }
            ],
            "color": {
              "value": "9cc11c",
              "label": "9cc11c",
              "sortOrder": 6,
              "id": "7"
            }
          },
          {
            "contentTypeKey": "7404887b-a8af-467d-a36a-cb93ac813e4e",
            "udi": "umb://element/244870814e124b9b9d9ef26c4d1c196c",
            "text": "Bonos Nutrir",
            "link": [
              {
                "name": "Bonos Nutrir",
                "url": "https://www.nutrirong.com/ayuda/#bonos",
                "queryString": "#bonos"
              }
            ],
            "image": [
              {
                "key": "cbbf5901-27ef-438c-9cb1-4c71dfb78a19",
                "mediaKey": "b931debd-3b0c-459f-852b-5296c37f74e7"
              }
            ],
            "color": {
              "value": "076eb1",
              "label": "076eb1",
              "sortOrder": 5,
              "id": "6"
            }
          },
          {
            "contentTypeKey": "7404887b-a8af-467d-a36a-cb93ac813e4e",
            "udi": "umb://element/78639616f02440fe8ff19c1ed95f92b9",
            "text": "Dona desde mil pesos",
            "link": [
              {
                "name": "Dona desde mil pesos",
                "url": "#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjMzOSIsInRvZ2dsZSI6ZmFsc2V9"
              }
            ],
            "image": [
              {
                "key": "80298434-7653-4f25-8fe5-279303dae976",
                "mediaKey": "febfc272-da63-4e38-a3dc-ee7ec97b59fc"
              }
            ],
            "color": {
              "value": "9cc11c",
              "label": "9cc11c",
              "sortOrder": 6,
              "id": "7"
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "bd5b11ef-b2cd-4e99-bb6f-dfb4930444d9",
      "udi": "umb://element/43dbd2abb23c4ae78053e2c695b528bd",
      "listOfButtons": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6a1335803284436d94001c4e85e4be4a"
            },
            {
              "contentUdi": "umb://element/e074786dfc3948cb8459e2dcfe7d035e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fbd8606a-d0d2-4705-838e-7dde4e458939",
            "udi": "umb://element/6a1335803284436d94001c4e85e4be4a",
            "imageDesktop": [
              {
                "key": "dd172d0d-21ee-4b59-baef-cbaf8791d26f",
                "mediaKey": "7273081a-8643-4c9b-8553-0d82e5951a68"
              }
            ],
            "imageMobile": [
              {
                "key": "f605c516-463c-409f-b7e9-87be035abae7",
                "mediaKey": "65d0f1c5-4a18-4d3f-9209-2d10e96f49f0"
              }
            ],
            "link": [
              {
                "name": "Dona desde mil pesos",
                "url": "",
                "queryString": "?gyh#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjMzOSIsInRvZ2dsZSI6ZmFsc2V9"
              }
            ]
          },
          {
            "contentTypeKey": "fbd8606a-d0d2-4705-838e-7dde4e458939",
            "udi": "umb://element/e074786dfc3948cb8459e2dcfe7d035e",
            "imageDesktop": [
              {
                "key": "54df1172-8e81-4501-937b-4243af356b53",
                "mediaKey": "bf45e6b1-6b7f-4848-a2fe-80d3ab201653"
              }
            ],
            "imageMobile": [
              {
                "key": "d8e4feb6-2627-4f6a-bc66-9d8e5c773fda",
                "mediaKey": "7b349b4b-98f9-4812-a1f8-5962b1fb2632"
              }
            ],
            "link": [
              {
                "name": "WhatsApp",
                "target": "_blank",
                "url": "https://wa.me/573216453086"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "imageDesktop": [
        {
          "key": "97df21e7-46d2-494a-b5d6-6d81bcf9b1d5",
          "mediaKey": "11a40f25-198f-4e53-9e8a-0b0a1f80e90b"
        }
      ],
      "imageMobile": [
        {
          "key": "eb694948-e513-45d8-8e83-42fa82c98f13",
          "mediaKey": "191eb963-7833-443e-8f4f-2599279c310f"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5a2736ae20a6408abdfe96a21f1e813b"
      },
      {
        "contentUdi": "umb://element/b8a4d65581db4e9492c689644bc1f8b0"
      },
      {
        "contentUdi": "umb://element/87d65b7c36f546b893e37f9301e932fa"
      },
      {
        "contentUdi": "umb://element/4e4adb97a44249ff9817fd9d1cfdf1e7"
      },
      {
        "contentUdi": "umb://element/a00a8de3309940a391263e1b2aa02d4e"
      },
      {
        "contentUdi": "umb://element/800f455e74404c0da3e276feb364d4b2"
      },
      {
        "contentUdi": "umb://element/db630249a66a4fbfb18390743fd1c1f3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/5a2736ae20a6408abdfe96a21f1e813b",
      "title": "Inicio",
      "link": [
        {
          "udi": "umb://document/42b01c08de6c43a1bd0c164d6909c3ea"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/b8a4d65581db4e9492c689644bc1f8b0",
      "title": "Sobre Nosotros",
      "link": [
        {
          "udi": "umb://document/674c62a71c0943ddaa5dd23751bcfd9a"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/87d65b7c36f546b893e37f9301e932fa",
      "title": "Problemática",
      "link": [
        {
          "udi": "umb://document/d3f4ce8e683d466db5a10fc1aa946764"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/4e4adb97a44249ff9817fd9d1cfdf1e7",
      "title": "Impacto",
      "link": [
        {
          "udi": "umb://document/14fd64e64b1b4a2abc6a6529f7652970"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/a00a8de3309940a391263e1b2aa02d4e",
      "title": "Cómo Ayudar",
      "link": [
        {
          "udi": "umb://document/1b2d644133b6446b8c0268e8cc80f3c8"
        }
      ],
      "childLinks2": ""
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/800f455e74404c0da3e276feb364d4b2",
      "title": "Contáctanos",
      "link": [
        {
          "udi": "umb://document/0cc9e3bccfa34b6a94f54dc6ac138bf7"
        }
      ],
      "childLinks2": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/16342e6e14d241b6ae5c4b7dd5ac2e13"
            },
            {
              "contentUdi": "umb://element/89ec6640185c4c5bbd95c6d4d70e7166"
            },
            {
              "contentUdi": "umb://element/7290993d5f6a4ff1b29b2eb1f5043abd"
            },
            {
              "contentUdi": "umb://element/8fbf31477ba84773a3acb36c6c46ebde"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
            "udi": "umb://element/16342e6e14d241b6ae5c4b7dd5ac2e13",
            "title": "Contáctanos",
            "link": [
              {
                "udi": "umb://document/0cc9e3bccfa34b6a94f54dc6ac138bf7"
              }
            ],
            "childLinks2": ""
          },
          {
            "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
            "udi": "umb://element/89ec6640185c4c5bbd95c6d4d70e7166",
            "title": "Encuestas de Satisfacción",
            "link": [
              {
                "udi": "umb://document/97ed33072647438fa161295ab3b8674b"
              }
            ],
            "childLinks2": ""
          },
          {
            "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
            "udi": "umb://element/7290993d5f6a4ff1b29b2eb1f5043abd",
            "title": "PQRFA",
            "link": [
              {
                "udi": "umb://document/901bd580957844dfac899d24bab18404"
              }
            ],
            "childLinks2": ""
          },
          {
            "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
            "udi": "umb://element/8fbf31477ba84773a3acb36c6c46ebde",
            "title": "Certificados de donación",
            "link": [
              {
                "udi": "umb://document/14a0663d8b8f46cc894f12e632226119"
              }
            ],
            "childLinks2": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "835c90c6-6c85-470c-a341-faf69fcbc89c",
      "udi": "umb://element/db630249a66a4fbfb18390743fd1c1f3",
      "title": "Tienda",
      "link": [
        {
          "udi": "umb://document/d625a1223b0c48c6b32905b76ee0d84f"
        }
      ],
      "childLinks2": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <mobileArrows>
      <Value><![CDATA[[
  {
    "key": "e90cba92-3dc5-481b-8a7d-797879148da5",
    "mediaKey": "4f502d1f-5a99-48af-87a2-6c3be7877957"
  }
]]]></Value>
    </mobileArrows>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "c3cc36f1-03e6-45aa-b9f4-c735bab86d24",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Fundacion Nutrir]]></Value>
    </title>
  </Properties>
</Content>