<?xml version="1.0" encoding="utf-8"?>
<Content Key="98b6666f-98a0-4f04-a0f8-bd67ddce3b37" Alias="Manilla tejida" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/ManillaTejida</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-19T17:18:35</CreateDate>
    <NodeName Default="Manilla tejida" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Misceláneos"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Adquiriendo nuestros productos, ayudas a financiar la alimentación de nuestros niños, niñas, madres gestantes y lactantes en los comedores de la Fundación Nutrir.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "306885fb-4972-4c59-875e-acadd4521e67",
    "mediaKey": "0d19c920-0fe1-4db8-b3d6-6d5e11cfe459"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Manilla tejida]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[10000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información sobre las manillas?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>