<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a1bb608-efd1-4740-94b9-c236c5f45d79" Alias="MUG" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/MUG</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-19T17:32:00</CreateDate>
    <NodeName Default="MUG" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Misceláneos"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Mug resistente al calor Nutrir</p>\n<p>Adquiriendo nuestros productos, ayudas a financiar la alimentación de nuestros niños, niñas, madres gestantes y lactantes en los comedores de la Fundación Nutrir.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "663f1e28-b9a4-4362-860b-d3dbd3dc0354",
    "mediaKey": "2bc3f2b9-f5ca-4f14-9be5-7553743b9a20"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[MUG]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[24000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información del mug?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>