<?xml version="1.0" encoding="utf-8"?>
<Content Key="901bd580-9578-44df-ac89-9d24bab18404" Alias="PQRFS" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/PQRFS</Path>
    <Trashed Parent="0cc9e3bc-cfa3-4b6a-94f5-4dc6ac138bf7">true</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-17T18:26:36</CreateDate>
    <NodeName Default="PQRFS" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "5d6e171c-2d13-4fb7-a24e-0fc2bc6dd4b4",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "bb8998c6-418d-4410-9d84-594b9345c93e",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[PQRFS - Fudación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>