<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3f4ce8e-683d-466d-b5a1-0fc1aa946764" Alias="Problematica" Level="2">
  <Info>
    <Parent Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea">Inicio</Parent>
    <Path>/Inicio/Problematica</Path>
    <Trashed>false</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-17T18:22:20</CreateDate>
    <NodeName Default="Problematica" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "71be63a5-f719-41fb-b026-3157d882e190",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "8a99c28a-a4db-4788-aae7-a38b2f123d21",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Problemática - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>