<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3f4ce8e-683d-466d-b5a1-0fc1aa946764" Alias="Problematica" Level="2">
  <Info>
    <Parent Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea">Inicio</Parent>
    <Path>/Inicio/Problematica</Path>
    <Trashed>false</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-17T18:22:20</CreateDate>
    <NodeName Default="Problematica" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "71be63a5-f719-41fb-b026-3157d882e190",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9e6fdf53d284d45ab438e1df188b82b"
      },
      {
        "contentUdi": "umb://element/264b792183284aa6b4840ba0212ade28"
      },
      {
        "contentUdi": "umb://element/19b61de89e824f978b573ece324655f8"
      },
      {
        "contentUdi": "umb://element/dec85a1c8eaa464d8c8921350f4c9162"
      },
      {
        "contentUdi": "umb://element/d24841c2154b4ce3bfbe22c44fa4ac1d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/264b792183284aa6b4840ba0212ade28",
      "content": {
        "markup": "<h2 class=\"elementor-heading-title elementor-size-default\" style=\"text-align: center;\"><strong><span class=\"textType2\">SITUACIÓN NUTRICIONAL EN COLOMBIA</span></strong></h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "bd5b11ef-b2cd-4e99-bb6f-dfb4930444d9",
      "udi": "umb://element/f9e6fdf53d284d45ab438e1df188b82b",
      "imageDesktop": [
        {
          "key": "10535d10-b1e5-4310-be15-456d273b33d3",
          "mediaKey": "88821504-5021-40b3-ac27-71fba318ea9a"
        }
      ],
      "imageMobile": [
        {
          "key": "b85d6186-43b0-428c-8257-90d11bd31b5c",
          "mediaKey": "ebed5f35-41b8-4a22-8dcc-7721f841d96e"
        }
      ],
      "listOfButtons": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/af9a979e823f4145acce633cf31521e6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fbd8606a-d0d2-4705-838e-7dde4e458939",
            "udi": "umb://element/af9a979e823f4145acce633cf31521e6",
            "imageDesktop": [
              {
                "key": "cfc25aa1-a482-42fd-862b-1904675f0f69",
                "mediaKey": "7273081a-8643-4c9b-8553-0d82e5951a68"
              }
            ],
            "imageMobile": [
              {
                "key": "54194c79-d3f7-4bfe-9792-2eb8bef7e7a3",
                "mediaKey": "65d0f1c5-4a18-4d3f-9209-2d10e96f49f0"
              }
            ],
            "link": [
              {
                "url": "",
                "queryString": "#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjMzOSIsInRvZ2dsZSI6ZmFsc2V9"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "798a0529-0345-475e-b349-9833063a9770",
      "udi": "umb://element/19b61de89e824f978b573ece324655f8",
      "list": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a8a0fd44eaba4946a2a08dd65afefd99"
            },
            {
              "contentUdi": "umb://element/ee1430b3bd244425ae5610b64b931c26"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/a8a0fd44eaba4946a2a08dd65afefd99",
            "text": "Niños menores de 5 años presentan desnutrición crónica",
            "image": [
              {
                "key": "b08b35cc-8620-49bb-9523-22551192c0b5",
                "mediaKey": "5804ea60-a5a3-4265-82b0-e5867ed2941e"
              }
            ]
          },
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/ee1430b3bd244425ae5610b64b931c26",
            "text": "De niños menores de 5 años sufre de desnutrición global",
            "image": [
              {
                "key": "f212d8a9-ed72-4df5-bd55-011771e304ad",
                "mediaKey": "be1bd04f-f4f5-4c3a-8a49-46b3c4aed748"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "798a0529-0345-475e-b349-9833063a9770",
      "udi": "umb://element/dec85a1c8eaa464d8c8921350f4c9162",
      "list": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/06c5d690d45d4a3384f0abd7325680f3"
            },
            {
              "contentUdi": "umb://element/30174cb81a8f4fa2b8ad6cc6f2bbdc9f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/06c5d690d45d4a3384f0abd7325680f3",
            "text": "De niños menores de 5 años sufre de desnutrición agúda",
            "image": [
              {
                "key": "671b430d-4a26-4f9f-b525-7cc81e894e3e",
                "mediaKey": "d1189370-c1dd-4ab4-b382-ff6225e81b6b"
              }
            ]
          },
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/30174cb81a8f4fa2b8ad6cc6f2bbdc9f",
            "text": " Niños menores de 5 años tiene lactancia materna exclusiva hasta los 6 meses",
            "image": [
              {
                "key": "fac31d0d-8c2c-42ea-af0a-bfddbf152c7e",
                "mediaKey": "c2c76037-97b5-4d9d-a1f9-aecad9414d89"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "798a0529-0345-475e-b349-9833063a9770",
      "udi": "umb://element/d24841c2154b4ce3bfbe22c44fa4ac1d",
      "list": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9e107336350c45c3860e3b22eaf7aae1"
            },
            {
              "contentUdi": "umb://element/e8ebc3231fc548ef9b4ea6e056111d76"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/9e107336350c45c3860e3b22eaf7aae1",
            "text": "Niños entre 5 y 12 años presenta retraso en la talla",
            "image": [
              {
                "key": "a5c2c93e-eb74-4bdb-bb8d-fb4d37c2b881",
                "mediaKey": "52ad38b1-a8fa-43ec-932b-41919d01434d"
              }
            ]
          },
          {
            "contentTypeKey": "aa46451c-24e1-4491-8d47-f2e72bc6a2b0",
            "udi": "umb://element/e8ebc3231fc548ef9b4ea6e056111d76",
            "text": "De hogares colombianos no pueden garantizar 3 comidas al día a sus integrantes",
            "image": [
              {
                "key": "d9412d76-3e5e-45f7-b5be-2d16715d0125",
                "mediaKey": "99e41595-97f2-4f65-bff3-f1305cadd18b"
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "8a99c28a-a4db-4788-aae7-a38b2f123d21",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Problemática - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>