<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3f4ce8e-683d-466d-b5a1-0fc1aa946764" Alias="Problematica" Level="2">
  <Info>
    <Parent Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea">Inicio</Parent>
    <Path>/Inicio/Problematica</Path>
    <Trashed>false</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-17T18:22:20</CreateDate>
    <NodeName Default="Problematica" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "71be63a5-f719-41fb-b026-3157d882e190",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/264b792183284aa6b4840ba0212ade28"
      },
      {
        "contentUdi": "umb://element/98a12b9e8fea45d0859d49d73017d054"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/264b792183284aa6b4840ba0212ade28",
      "content": {
        "markup": "<p>Prueba 2</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "299d2d89-31bb-459a-a92c-f63faf676cd7",
      "udi": "umb://element/98a12b9e8fea45d0859d49d73017d054",
      "imageDesktop": [
        {
          "key": "d29f8932-0cab-4671-b4b9-8a1673864357",
          "mediaKey": "11a40f25-198f-4e53-9e8a-0b0a1f80e90b"
        }
      ],
      "title": "prueba1",
      "titleColor": {
        "value": "000000",
        "label": "000000",
        "sortOrder": 0,
        "id": "1"
      },
      "imageMobile": [
        {
          "key": "bb06e514-49cb-4c11-8cc1-c07eacd3e4c3",
          "mediaKey": "7e109b60-45de-460b-9cf1-a16396e66f39"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "8a99c28a-a4db-4788-aae7-a38b2f123d21",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Problemática - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>