<?xml version="1.0" encoding="utf-8"?>
<Content Key="f60bc44c-5635-4265-9912-d1dd4e374eba" Alias="Products list" Level="3">
  <Info>
    <Parent Key="3422ac19-3fab-42ad-aa18-2b0299da4572">Tienda Nutrir</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2024-09-19T17:11:26</CreateDate>
    <NodeName Default="Products list" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>