<?xml version="1.0" encoding="utf-8"?>
<Content Key="674c62a7-1c09-43dd-aa5d-d23751bcfd9a" Alias="Sobre Nosotros" Level="2">
  <Info>
    <Parent Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea">Inicio</Parent>
    <Path>/Inicio/SobreNosotros</Path>
    <Trashed>false</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-07-17T16:38:45</CreateDate>
    <NodeName Default="Sobre Nosotros" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "c5f6271e-c4e7-4b79-82df-e297d6d9ff02",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "dd710e2f-8b79-43a1-a67e-a1c576a40450",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Sobre Nosotros - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>