<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f19c0d6-7085-430d-8cd5-d578be72ff6c" Alias="Termo" Level="4">
  <Info>
    <Parent Key="f60bc44c-5635-4265-9912-d1dd4e374eba">Products list</Parent>
    <Path>/Inicio/TiendaNutrir/ProductsList/Termo</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-09-19T17:21:21</CreateDate>
    <NodeName Default="Termo" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productCategory>
      <Value><![CDATA[[
  "Misceláneos"
]]]></Value>
    </productCategory>
    <productDescription>
      <Value><![CDATA[{
  "markup": "<p>Termo metalico Nutrir</p>\n<p>Adquiriendo nuestros productos, ayudas a financiar la alimentación de nuestros niños, niñas, madres gestantes y lactantes en los comedores de la Fundación Nutrir.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "ba878a5a-d471-41e9-a430-78944b2034a5",
    "mediaKey": "d9996241-0032-4e93-bdbe-578829cf48a0"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Termo]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[36000]]></Value>
    </productPrice>
    <productPurchaseMessage>
      <Value><![CDATA[¡Hola! Podrías darme más​ Información sobre el termo de Nutrir?]]></Value>
    </productPurchaseMessage>
  </Properties>
</Content>