<?xml version="1.0" encoding="utf-8"?>
<Content Key="3422ac19-3fab-42ad-aa18-2b0299da4572" Alias="Tienda Nutrir" Level="2">
  <Info>
    <Parent Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea">Inicio</Parent>
    <Path>/Inicio/TiendaNutrir</Path>
    <Trashed>false</Trashed>
    <ContentType>store</ContentType>
    <CreateDate>2024-09-18T18:23:23</CreateDate>
    <NodeName Default="Tienda Nutrir" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <phoneNumber>
      <Value><![CDATA[573216453086]]></Value>
    </phoneNumber>
    <storeEmail>
      <Value><![CDATA[comercial@nutrirong.com]]></Value>
    </storeEmail>
    <storeName>
      <Value><![CDATA[Nutrir]]></Value>
    </storeName>
  </Properties>
</Content>