<?xml version="1.0" encoding="utf-8"?>
<Content Key="abf49817-6817-4054-89d6-54069cbcd73b" Alias="Tienda" Level="2">
  <Info>
    <Parent Key="42b01c08-de6c-43a1-bd0c-164d6909c3ea">Inicio</Parent>
    <Path>/Inicio/Tienda</Path>
    <Trashed>false</Trashed>
    <ContentType>sobreNosotros</ContentType>
    <CreateDate>2024-09-19T17:58:13</CreateDate>
    <NodeName Default="Tienda" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1edf1a9e-b154-4f71-9297-8f2cd99f0460">SobreNosotros</Template>
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "ecea6b55-ea6b-40a4-b1ba-8ad866baede3",
    "mediaKey": "f7ffd510-471a-482c-b1d7-c22e98df63ae"
  }
]]]></Value>
    </favicon>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8715fe2e33084bac972b32da33b32f0c"
      },
      {
        "contentUdi": "umb://element/6e1c24d0c74d4f609c0c62c05e3a23d6"
      },
      {
        "contentUdi": "umb://element/7263d62d408941478fd9a47454514a82"
      },
      {
        "contentUdi": "umb://element/720ce5639949467cbdc472fa258958b5"
      },
      {
        "contentUdi": "umb://element/fd0875cd975946b7a81341c05b1b75d6"
      },
      {
        "contentUdi": "umb://element/7b5fc78e132a402a847b8eb428e11e3d"
      },
      {
        "contentUdi": "umb://element/3d5f3a33fc084db494860cc1d416ec5b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/8715fe2e33084bac972b32da33b32f0c",
      "content": {
        "markup": "<p style=\"text-align: center;\"><span class=\"textType2\"><strong>BONOS NUTRIR</strong></span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/6e1c24d0c74d4f609c0c62c05e3a23d6",
      "content": {
        "markup": "<p style=\"text-align: center;\"><span class=\"textType8\">Los BONOS NUTRIR son una estrategia a través de la cual puedes expresar intenciones y sentimientos y al mismo tiempo puedes contribuir con la alimentación de un niño en condición de pobreza. Puedes encontrarlos en la Fundación Nutrir y en los diferentes puntos de venta autorizados ubicados en la ciudad de Manizales</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/7263d62d408941478fd9a47454514a82",
      "content": {
        "markup": "<h2 class=\"elementor-heading-title elementor-size-default\" style=\"text-align: center;\"><span class=\"textType2\"><strong>BONOS FÍSICOS</strong></span></h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/720ce5639949467cbdc472fa258958b5",
      "content": {
        "markup": "<h2 class=\"elementor-heading-title elementor-size-default\" style=\"text-align: center;\"><span class=\"textType2\"><strong>BONOS VIRTUALES</strong></span></h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/fd0875cd975946b7a81341c05b1b75d6",
      "content": {
        "markup": "<h2 class=\"elementor-heading-title elementor-size-default\" style=\"text-align: center;\"><span class=\"textType2\"><strong>BONOS ESPECIALES</strong></span></h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "udi": "umb://element/7b5fc78e132a402a847b8eb428e11e3d",
      "content": {
        "markup": "<h2 class=\"elementor-heading-title elementor-size-default\" style=\"text-align: center;\"><span class=\"textType2\"><strong>PRODUCTOS NUTRIR</strong></span></h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "11450e3d-806a-459a-9a74-262bffc1e807",
      "udi": "umb://element/3d5f3a33fc084db494860cc1d416ec5b",
      "listOfProducts": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/95bcd589a5ab423e97b73771ecfef1ca"
            },
            {
              "contentUdi": "umb://element/28374f2a117942049a09439de7164731"
            },
            {
              "contentUdi": "umb://element/6d1d80fc5e4944fda34f48521e369f7e"
            },
            {
              "contentUdi": "umb://element/74abb3836ffa4df482b3c6b5de8f36e8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "754e031c-7a79-4939-b723-6ecc1ecd498f",
            "udi": "umb://element/95bcd589a5ab423e97b73771ecfef1ca",
            "productsPicker": "umb://document/86f8386da2e74f2b821fdca4b95e39af"
          },
          {
            "contentTypeKey": "754e031c-7a79-4939-b723-6ecc1ecd498f",
            "udi": "umb://element/28374f2a117942049a09439de7164731",
            "productsPicker": "umb://document/98b6666f98a04f04a0f8bd67ddce3b37"
          },
          {
            "contentTypeKey": "754e031c-7a79-4939-b723-6ecc1ecd498f",
            "udi": "umb://element/6d1d80fc5e4944fda34f48521e369f7e",
            "productsPicker": "umb://document/4f19c0d67085430d8cd5d578be72ff6c"
          },
          {
            "contentTypeKey": "754e031c-7a79-4939-b723-6ecc1ecd498f",
            "udi": "umb://element/74abb3836ffa4df482b3c6b5de8f36e8",
            "productsPicker": "umb://document/6a1bb608efd1474094b9c236c5f45d79"
          }
        ],
        "settingsData": []
      },
      "listOfProducts2": "umb://document/86f8386da2e74f2b821fdca4b95e39af,umb://document/98b6666f98a04f04a0f8bd67ddce3b37,umb://document/4f19c0d67085430d8cd5d578be72ff6c,umb://document/6a1bb608efd1474094b9c236c5f45d79",
      "productCategory": [
        "Misceláneos"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <nutrirLogo>
      <Value><![CDATA[[
  {
    "key": "f41c4205-d17f-40c5-ba09-d6928477b48c",
    "mediaKey": "d0ed241f-6926-4f4f-95e9-b27de56b56ba"
  }
]]]></Value>
    </nutrirLogo>
    <title>
      <Value><![CDATA[Tienda - Fundación Nutrir]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>