<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"2ba9e2\",\"label\":\"2ba9e2\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"56bae7\",\"label\":\"56bae7\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"9bc11c\",\"label\":\"9bc11c\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"076eb1\",\"label\":\"076eb1\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>