<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdac72b9-9add-4185-a390-666994941cc4" Alias="[BlockList] List of Persons" Level="1">
  <Info>
    <Name>[BlockList] List of Persons</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "64cb923f-c154-42d0-8624-0d00a06ac181",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Person ' + $index }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 4,
    "min": null
  }
}]]></Config>
</DataType>