<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d1ce95f-5a9c-45b1-9818-8bf6f3e9d551" Alias="[BlockList] List of emails" Level="1">
  <Info>
    <Name>[BlockList] List of emails</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5d84e47d-b7b2-44d5-a9e9-fec6401ea088",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'eMail - ' + eMailField }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>