<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a78628e-444c-4106-b20b-32e0109a7c57" Alias="[BlockList] Three Content Columns" Level="1">
  <Info>
    <Name>[BlockList] Three Content Columns</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "fb5cfbb4-9f21-497d-b9ab-df3067981fbe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Text Content",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8f78a04e-dc57-4978-8f2d-8ddde5934e5a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Image Content",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": 3
  }
}]]></Config>
</DataType>