<?xml version="1.0" encoding="utf-8"?>
<DataType Key="328bee0d-90ad-4466-8ae0-84195f569859" Alias="[Contentment-List Items] E-mails list" Level="1">
  <Info>
    <Name>[Contentment-List Items] E-mails list</Name>
    <EditorAlias>Umbraco.Community.Contentment.ListItems</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "hideIcon": "0",
  "hideDescription": "0",
  "confirmRemoval": "0",
  "maxItems": 10,
  "enableDevMode": "0"
}]]></Config>
</DataType>