<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c06ce22f-a971-41fa-87e5-15a5c29d290f" Alias="[Content Picker] Products Picker" Level="1">
  <Info>
    <Name>[Content Picker] Products Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/f60bc44c563542659912d1dd4e374eba"
}]]></Config>
</DataType>