<?xml version="1.0" encoding="utf-8"?>
<DataType Key="089c02e3-0522-43c2-8ec7-66f21ab2919c" Alias="[Dropdown] Product Categories" Level="1">
  <Info>
    <Name>[Dropdown] Product Categories</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Misceláneos"
    },
    {
      "id": 3,
      "value": "Bonos Físicos"
    },
    {
      "id": 4,
      "value": "Bonos Virtuales"
    },
    {
      "id": 5,
      "value": "Bonos Especiales"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>