<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a41c83c8-50ef-4f6a-8a1a-15ed7f6437cd" Alias="[Dropdown] Horizontal Alignment Dropdown" Level="1">
  <Info>
    <Name>[Dropdown] Horizontal Alignment Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Center"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>