<?xml version="1.0" encoding="utf-8"?>
<DataType Key="228142b5-4719-464a-b272-cf580bd85390" Alias="[Multinode Treepicker] Multi Product Picker" Level="1">
  <Info>
    <Name>[Multinode Treepicker] Multi Product Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "product",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/f60bc44c563542659912d1dd4e374eba",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>