<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc263b79-4ad2-4e96-bba8-2a4d2288ebbc" Alias="Rich Text Content - Text Size - [Contentment] Number Input" Level="1">
  <Info>
    <Name>Rich Text Content - Text Size - [Contentment] Number Input</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "size": "s",
  "placeholderText": "Recommended between 20 and 60 px."
}]]></Config>
</DataType>