<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a0119f7-f310-4147-b347-132c7aba01c0" Alias="[Toggle] Toggle" Level="1">
  <Info>
    <Name>[Toggle] Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>