.mission-vision-purpose {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: #0062A3;
    color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    text-align: center;
}

@media (max-width: 768px) {
    .mission-vision-purpose {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 100%;
    }
}