.metrics-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
}

.metric-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-align: left;
}

.metric-image {
    width: 170px; /* Adjust the size as needed */
    height: auto;
    margin-right: 15px;
}

.metric-text {
    margin: 0;
    max-width: 200px;
    line-height: 1.4;
	text-align: center;
    color: #000000;
    font-family: "NeutraText-BookAlt", Sans-serif;
    font-size: 21px;
    font-weight: 400;
}