

/**umb_name:TextType1*/
.textType1 {
	font-size:34px;
	color: #000000;
	font-family: "NeutraText-BookAlt", Sans-serif;
}

/**umb_name:TextType2*/
.textType2 {
	font-size: 48px;
	color: #066EB1;
	font-family: "NeutraText-BookAlt", Sans-serif;
}

/**umb_name:TextType3*/
.textType3 {
	font-size: 28px;
	color: #066EB1;
	font-family: "NeutraText-BookAlt", Sans-serif;
}

/**umb_name:TextType4*/
.textType4 {
	font-size: 30px;
	color: #FFFFFF;
	font-family: "NeutraText-BookAlt", Sans-serif;
}

/**umb_name:TextType5*/
.textType5 {
	font-size: 18px;
	color: #FFFFFF;
	font-family: "NeutraText-BookAlt", Sans-serif;
}

/**umb_name:TextType6*/
.textType6 {
	color: #000000;
	font-family: "NeutraText-BookAlt", Sans-serif;
	font-size: 24px;
	line-height: 18px;
}

/**umb_name:TextType7*/
.textType7 {
	color: #7a7a7a;
	font-family: "NeutraText-BookAlt", Sans-serif;
	font-size: 16px;
	line-height: 17px;
	letter-spacing: -0.8px;
	word-spacing: 0px;
}

/**umb_name:TextType8*/
.textType8 {
	color: #000000;
	font-family: "NeutraText-BookAlt", Sans-serif;
	font-size: 26px;
	font-weight: 400;
}

/**umb_name:TextType9*/
.textType9 {
	color: #000000;
	font-family: "NeutraText-BookAlt", Sans-serif;
	font-size: 16px;
	line-height: 22px;
}
