.columns-section {
    padding: 0px 0;
    text-align: center;
}

.columns-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    text-align: left;
}

.columns-section {
    padding: 50px 0;
    text-align: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.pill {
    background-color: #9bc11c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2em;
}

/* Styles for the products */

.cardTwoCol {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    width: 190px;
    transition: transform 0.2s;
	max-width: 260px;
}

.cardTwoCol:hover {
    transform: translateY(-10px);
}

.product-imageTwoCol {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.cardTwoCol h2 {
    font-size: 1.2em;
    color: #066eb1;
    margin: 10px 0;
}

.priceTwoCol {
    font-size: 1.1em;
    color: #666;
    margin: 5px 0;
}

.buy-buttonTwoCol {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.buy-buttonTwoCol:hover {
    background-color: #155db0;
}


/* Add the following CSS */
@media screen and (max-width: 768px) {
    .columns-container {
        flex-direction: column; /* Default: Do not reverse on mobile */
    }

    /* Reverse columns only when 'reverse-columns' class is applied */
    .columns-container.reverse-columns {
        flex-direction: column-reverse;
    }

    .column {
        text-align: left;
    }

    .columns-container .column p {
        text-align: left !important; /* Override the inline style */
    }

    /* Style for products */
    .containerTwoCol {
        flex-direction: column;
        align-items: center;
    }

    .cardTwoCol {
        width: 80%;
    }
}