.columns-section {
    padding: 0px 0;
    text-align: center;
}

.columns-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    text-align: left;
}

.columns-section {
    padding: 50px 0;
    text-align: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.pill {
    background-color: #9bc11c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2em;
}

/* Add the following CSS */
@media screen and (max-width: 768px) {
    .columns-container {
        flex-direction: column; /* Default: Do not reverse on mobile */
    }

    /* Reverse columns only when 'reverse-columns' class is applied */
    .columns-container.reverse-columns {
        flex-direction: column-reverse;
    }

    .column {
        text-align: left;
    }

    .columns-container .column p {
        text-align: left !important; /* Override the inline style */
    }
}