<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="37f670a3-9ad1-4180-821c-cd2cb8bac8ee" Alias="Footer.Copyright" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="es-CO">Copyright C 2024 Fundación Nutrir Desarrollado por Grupo Impulzo</Translation>
  </Translations>
</Dictionary>