<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d3e10680-f5da-473d-9b27-b5041b1a221f" Alias="Footer.City" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="es-CO">Manizales - Caldas - Colombia</Translation>
  </Translations>
</Dictionary>