<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ea44f67f-cb82-477b-83dc-c2006fca233a" Alias="Footer.Address" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="es-CO">Carrera 19 No 72A - 18</Translation>
  </Translations>
</Dictionary>