<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2bf38a84-015d-48df-aea1-732f170b6a93" Alias="Footer.FollowUs" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="es-CO">SÍGUENOS TAMBIEN AQUÍ:</Translation>
  </Translations>
</Dictionary>