<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="301ab9c1-3eb4-4d7a-920a-9f52895a8792" Alias="Footer.VisitUs" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="es-CO">¡VISITANOS!</Translation>
  </Translations>
</Dictionary>