<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1297797d-7710-4504-b8fb-3491cb2b8413" Alias="Payments.Thanks" Level="1">
  <Info>
    <Parent>Payments</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="es-CO">Gracias por apoyarnos, con tu ayuda estamos transformando el mundo de nuestros niños.</Translation>
  </Translations>
</Dictionary>