<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9112c147-5f98-4bba-8968-e58201c9250a" Alias="Payments.ModalTitle" Level="2">
  <Info>
    <Parent>Payments.Thanks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="es-CO">Ayuda a la niñez del pais haz tu donación</Translation>
  </Translations>
</Dictionary>