<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b09faca-84da-47f6-a39d-f25a85007b8e" Alias="Payments.Donate" Level="1">
  <Info>
    <Parent>Payments</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="es-CO">¡DONA AHORA!</Translation>
  </Translations>
</Dictionary>