@inherits UmbracoViewPage<BlockListItem>

@{
	var row = (Image_With_Title_Banner)Model.Content;
	if (row == null) return;

	var uniqueCSSId = GeneralConfigs.AddStyle(row.CustomCss ?? string.Empty);
}
<!-- Problematica Banner Section -->

<div class="@uniqueCSSId">
	<section>
		<div id="container" class="container">
			<picture>
				<source srcset="@row.ImageMobile.Url()" media="(max-width: 765px)">
				<img src="@row.ImageDesktop.Url()" alt="Flowers">
				<div class="centered">
					<h1 class="bannerTitle" style="color: #@row.TitleColor;">@row.Title</h1>
				</div>
			</picture>
		</div>
	</section>
</div>

