@using Umbraco.Cms.Core.Models.PublishedContent
@inherits UmbracoViewPage<BlockListItem>

<!-- This component allows users to create a section with multiple groups of one image paired with a text.-->
@{
    var row = (ListOfImageAndText)Model.Content;
    if (row == null) return;
}

<section class="metrics-section">
	@foreach (var element in row.List.ToList())
    {
		// Loop through each element in the block list
        var content = element.Content as IPublishedElement;

        // Access the text value
        var text = content.Value<string>("text");
		// Access the height of the banner
    	var width = content.Value<int>("widthOfImage");

        // Access the image
        var image = content.Value<IPublishedContent>("image");
		<div class="metric-item">
			<img src="@image.Url()" alt="@image.Name" class="metric-image" @(width != 0 ? $"style=width:{width}px;" : "")>
			<p class="metric-text">@text</p>
		</div>
	}
</section>