@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels
@inherits UmbracoViewPage<BlockListItem>

@{
	var row = (ListOfHighlightCards)Model.Content;
	if (row == null) return;
	var listOfCards = row.Cards.ToList();

	var uniqueCSSId = GeneralConfigs.AddStyle(row.CustomCss ?? string.Empty);
}
<!-- Sección para desplegar una lista de tarjetas de información -->

<div class="@uniqueCSSId">
	<section class="mission-vision-purpose">
		@if (listOfCards.Any())
		{
			@foreach (var element in listOfCards)
			{
				// Loop through each element in the block list
				var content = element.Content as IPublishedElement;
				// Access the color
				var color = content.Value<string>("color");
				// Access the rich text editor
				var text = content.Value<string>("text");
				<div class="highlightCard" style="background-color: #@color;">
					@Html.Raw(text)
				</div>
			}
		}
	</section>
</div>

