@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels
@using KivioCMS.HelperClasses
@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Extensions;

@inherits UmbracoViewPage<BlockListItem>

@{
	var row = (ProductSummarizedContent)Model.Content;
	if (row == null) return;

	// Access the Category field (assuming it's a string-based dropdown)
    var productCategory = row.Value<string>("productCategory");
}

<section class="container">
		@foreach (var productNode in row.ListOfProducts) // Assuming 'ListOfProducts2' is the Multinode Treepicker alias
		{
			// Cast each productNode to IPublishedContent
			var product = productNode as IPublishedContent;
			if (product != null)
			{
				 // Access the parent node (Tienda Nutrir)
            	var storeNode = product.AncestorOrSelf("store");
				// Access the store's phone number
           		var storePhoneNumber = storeNode?.Value<string>("phoneNumber");
				// Access the product's name
				var name = product.Value<string>("productName");
				// Access the product's image
				var picture = product.Value<IPublishedContent>("productImage");
				// Access the product's description
				var description = product.Value<string>("productDescription");
				// Access the product's price
				var price = product.Value<decimal>("productPrice"); // Assuming price is a decimal
				// Access the purchase message
				var purchaseMessage = product.Value<string>("productPurchaseMessage");
				// Format the price with commas
            	var formattedPrice = price.ToString("N0"); // 'N0' for thousands with no decimals
				// Render the product information
				<div class="card">
					@if (picture != null)
					{
						<img src="@picture.Url()" alt="@name" class="product-image" style="height: 200px;">
					}
					<h2>@name</h2>
					<p class="price">$@formattedPrice</p>
					<a href="https://api.whatsapp.com/send/?phone=@storePhoneNumber&text=@purchaseMessage &type=phone_number&app_absent=0" target="_blank" class="buy-button">Compra aquí</a>
				</div>
			}
		}
</section>
