@inherits UmbracoViewPage<BlockListItem>

@{
	var row = (TwoColumnContent)Model.Content;
	if (row == null) return;
	var withColumn1 = row.Value<int>("widthOfColumn1");
	var withColumn2 = row.Value<int>("widthOfColumn2");
	var contentList = row.Columns.ToList();
}
<!-- This elements allows users to set two columns in a single row. They can dictate the % of space that each column will consume-->
<section class="columns-section">
	<div class="columns-container">
		@for (var i = 0; i < contentList.Count; i++)
        {
            var content = contentList[i].Content as IPublishedElement;
            if (content != null)
            {
                // Check if the content is a Rich Text Editor
                if (content.HasProperty("content"))
                {
                    var textContent = content.Value<string>("content");
                    <div class="column" style="flex: 0 0 @(i == 0 ? withColumn1 : withColumn2)%;">
                        @Html.Raw(textContent)
                    </div>
                }
                // Check if the content is an Image
                else if (content.HasProperty("image"))
                {
                    var image = content.Value<IPublishedContent>("image");
                    <div class="column" style="flex: 0 0 @(i == 0 ? withColumn1 : withColumn2)%;">
                        <img src="@image.Url()" alt=@image.Name />
                    </div>
                }
            }
        }
	</div>
</section>