<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f9515ff-31c1-424a-a834-686a05f4fcea" Alias="1.Denominacion C" Level="2">
  <Info>
    <Parent Key="48ce07de-9c39-48e2-a759-ac4d460cf806">Documents</Parent>
    <Path>/Documents/DenominacionC</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-08-29T17:28:28</CreateDate>
    <NodeName Default="1.Denominacion C" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ekjkh4b/1denominacion_c.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>