<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa1c4332-521e-4182-9719-5dfaabcb6f44" Alias="10. Estados Fros" Level="2">
  <Info>
    <Parent Key="48ce07de-9c39-48e2-a759-ac4d460cf806">Documents</Parent>
    <Path>/Documents/EstadosFros</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-08-29T17:28:29</CreateDate>
    <NodeName Default="10. Estados Fros" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/drbbz4q4/10-estados-fros.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>