<?xml version="1.0" encoding="utf-8"?>
<Media Key="96e38e78-1e9e-4b1f-ade2-4bd23bd351c2" Alias="11. Certificado Cumplimiento Requisitos" Level="2">
  <Info>
    <Parent Key="48ce07de-9c39-48e2-a759-ac4d460cf806">Documents</Parent>
    <Path>/Documents/CertificadoCumplimientoRequisitos</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-08-29T17:28:29</CreateDate>
    <NodeName Default="11. Certificado Cumplimiento Requisitos" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k0hohfu4/11-certificado-cumplimiento-requisitos.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>