<?xml version="1.0" encoding="utf-8"?>
<Media Key="cce5ffc2-d60f-4126-81fd-51c39ddeaa66" Alias="2.Actividadmeritoria C" Level="2">
  <Info>
    <Parent Key="48ce07de-9c39-48e2-a759-ac4d460cf806">Documents</Parent>
    <Path>/Documents/ActividadmeritoriaC</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-08-29T17:28:29</CreateDate>
    <NodeName Default="2.Actividadmeritoria C" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3t5pltap/2actividadmeritoria_c.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>