<?xml version="1.0" encoding="utf-8"?>
<Media Key="62aae01c-3fd5-4744-aa84-b7666fb61840" Alias="4.Cargos Gerenciales Y Directivos" Level="2">
  <Info>
    <Parent Key="48ce07de-9c39-48e2-a759-ac4d460cf806">Documents</Parent>
    <Path>/Documents/CargosGerencialesYDirectivos</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-08-29T17:28:29</CreateDate>
    <NodeName Default="4.Cargos Gerenciales Y Directivos" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/glqkuywv/4cargos-gerenciales-y-directivos.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>