<?xml version="1.0" encoding="utf-8"?>
<Media Key="20efd934-6395-48f6-87de-595fe49a292d" Alias="5. Pagos Salariales A Directivos" Level="2">
  <Info>
    <Parent Key="48ce07de-9c39-48e2-a759-ac4d460cf806">Documents</Parent>
    <Path>/Documents/PagosSalarialesADirectivos</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-08-29T17:28:28</CreateDate>
    <NodeName Default="5. Pagos Salariales A Directivos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dlmp4iev/5-pagos-salariales-a-directivos.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>