<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3b8f7bf-8835-4a56-b23e-8b70b59f60b4" Alias="6. Fundadores C" Level="2">
  <Info>
    <Parent Key="48ce07de-9c39-48e2-a759-ac4d460cf806">Documents</Parent>
    <Path>/Documents/FundadoresC</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-08-29T17:28:28</CreateDate>
    <NodeName Default="6. Fundadores C" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sh1lruzv/6-fundadores_c.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>