<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd45e6c9-c995-4476-9776-7784cb24c006" Alias="7. Patrimonio" Level="2">
  <Info>
    <Parent Key="48ce07de-9c39-48e2-a759-ac4d460cf806">Documents</Parent>
    <Path>/Documents/Patrimonio</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-08-29T17:28:29</CreateDate>
    <NodeName Default="7. Patrimonio" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/25teltmv/7-patrimonio.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>