<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8655fa6-e403-4190-bd27-342a2401fd4a" Alias="9. Informe De Gestión Año 2022" Level="2">
  <Info>
    <Parent Key="48ce07de-9c39-48e2-a759-ac4d460cf806">Documents</Parent>
    <Path>/Documents/InformeDeGestionAno2022</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-08-29T17:28:29</CreateDate>
    <NodeName Default="9. Informe De Gestión Año 2022" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rbphlwad/9-informe-de-gestión-año-2022.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>