<?xml version="1.0" encoding="utf-8"?>
<Media Key="f872ca8e-5a0f-4c68-8dab-8ab2ccf7854c" Alias="Arrowsright" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Arrowsright</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-29T17:36:17</CreateDate>
    <NodeName Default="Arrowsright" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rdfhf4ap/arrowsright.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>