<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f6efd90-d2e9-4723-8f03-7fd534d74760" Alias="Banner Nosotros 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BannerNosotros1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-20T17:48:04</CreateDate>
    <NodeName Default="Banner Nosotros 1" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s14h3h5j/banner-nosotros-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>