<?xml version="1.0" encoding="utf-8"?>
<Media Key="88821504-5021-40b3-ac27-71fba318ea9a" Alias="Banner Pagina Impacto 02 2 1" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/BannerPaginaImpacto0221</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T13:38:02</CreateDate>
    <NodeName Default="Banner Pagina Impacto 02 2 1" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aikjfcbb/banner-pagina-impacto-02-2-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>