<?xml version="1.0" encoding="utf-8"?>
<Media Key="78698d5e-ed5d-4912-b3c9-4b2451552767" Alias="BONO PLATA $50.000" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/BONOPLATA50000</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T17:30:15</CreateDate>
    <NodeName Default="BONO PLATA $50.000" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lcghs4c3/bono-plata-50000.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>