<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5d520d5-5ce8-4373-8cd9-1ad100d81f44" Alias="Bono Pan De Vida Impreso Violeta 1" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/BonoPanDeVidaImpresoVioleta1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T17:30:16</CreateDate>
    <NodeName Default="Bono Pan De Vida Impreso Violeta 1" />
    <SortOrder>110</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0mqnlrpi/bono-pan-de-vida-impreso-violeta-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>