<?xml version="1.0" encoding="utf-8"?>
<Media Key="65d0f1c5-4a18-4d3f-9209-2d10e96f49f0" Alias="Boton Nutrir 300X153" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BotonNutrir300X153</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-15T18:01:10</CreateDate>
    <NodeName Default="Boton Nutrir 300X153" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ypynaziy/boton-nutrir-300x153.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>