<?xml version="1.0" encoding="utf-8"?>
<Media Key="7273081a-8643-4c9b-8553-0d82e5951a68" Alias="Boton Nutrir" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BotonNutrir</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-14T16:24:56</CreateDate>
    <NodeName Default="Boton Nutrir" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dqehg2sd/boton-nutrir.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>