<?xml version="1.0" encoding="utf-8"?>
<Media Key="712fd7f4-375c-4b0e-a1e1-8da432852bb1" Alias="CAROLINA TRUJILLO LONDONO SUBDIRECTORA COMERCIAL Scaled Phure7pniexq8gtsuw6799bh7awkc0hu658ad3m6gc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CAROLINATRUJILLOLONDONOSUBDIRECTORACOMERCIALScaledPhure7pniexq8gtsuw6799bh7awkc0hu658ad3m6gc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-23T14:04:41</CreateDate>
    <NodeName Default="CAROLINA TRUJILLO LONDONO SUBDIRECTORA COMERCIAL Scaled Phure7pniexq8gtsuw6799bh7awkc0hu658ad3m6gc" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4lld42k2/carolina-trujillo-londono-subdirectora-comercial-scaled-phure7pniexq8gtsuw6799bh7awkc0hu658ad3m6gc.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>