<?xml version="1.0" encoding="utf-8"?>
<Media Key="53a990e7-9483-4c38-9ed0-aa2a824feef8" Alias="Carrusel PC 02 03" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarruselPC0203</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-12T17:38:02</CreateDate>
    <NodeName Default="Carrusel PC 02 03" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2giksu2d/carrusel-pc-02-03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>