<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcf6be77-f370-4553-a8df-784b9b346195" Alias="Carrusel PC 02 05" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/CarruselPC0205</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-12T17:38:02</CreateDate>
    <NodeName Default="Carrusel PC 02 05" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/og5pnpdq/carrusel-pc-02-05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>