<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3a8d3dc-2467-47f1-9f58-e486e238e318" Alias="Carrusel Cel 09" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarruselCel09</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-12T17:38:01</CreateDate>
    <NodeName Default="Carrusel Cel 09" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1ljlrq1h/carrusel-cel-09.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>