<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bddf978-0d17-4a6e-9139-1fb6c8f3c95a" Alias="Carrusel Cel 06" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarruselCel06</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-12T17:38:01</CreateDate>
    <NodeName Default="Carrusel Cel 06" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p12n00yx/carrusel-cel-06.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>