<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ab65a84-9034-4c5e-add1-17b28b438c79" Alias="Carrusel Cel 15" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarruselCel15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-12T17:38:01</CreateDate>
    <NodeName Default="Carrusel Cel 15" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qjnlmoru/carrusel-cel-15.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>