<?xml version="1.0" encoding="utf-8"?>
<Media Key="e62fd0c8-c57a-4f91-baf3-2289a08d3728" Alias="Con Logo 15 Scaled" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/ConLogo15Scaled</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T18:06:43</CreateDate>
    <NodeName Default="Con Logo 15 Scaled" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z1ic5zt0/con-logo-15-scaled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>