<?xml version="1.0" encoding="utf-8"?>
<Media Key="45a6d2bb-5be0-4293-899a-559be7482c3a" Alias="Delantal Nutrir" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/DelantalNutrir</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T17:22:46</CreateDate>
    <NodeName Default="Delantal Nutrir" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xxjkmrpa/delantal-nutrir.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>