<?xml version="1.0" encoding="utf-8"?>
<Media Key="a56703c7-122a-45fa-abb2-474c1182e0c3" Alias="Descarga 1" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/Descarga1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-23T14:04:42</CreateDate>
    <NodeName Default="Descarga 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yebhpjjk/descarga-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>