<?xml version="1.0" encoding="utf-8"?>
<Media Key="48ce07de-9c39-48e2-a759-ac4d460cf806" Alias="Documents" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Documents</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T17:28:05</CreateDate>
    <NodeName Default="Documents" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties />
</Media>