<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1189370-c1dd-4ab4-b382-ff6225e81b6b" Alias="Estadisticas Vf 04 1" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/EstadisticasVf041</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T13:38:02</CreateDate>
    <NodeName Default="Estadisticas Vf 04 1" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o0jbruo3/estadisticas-vf-04-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>