<?xml version="1.0" encoding="utf-8"?>
<Media Key="eabf9ead-f3ca-4220-9b9d-b1a7cc5bb6c0" Alias="Estadisticas Vf 07 1" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/EstadisticasVf071</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-09T16:28:06</CreateDate>
    <NodeName Default="Estadisticas Vf 07 1" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vopl50wk/estadisticas-vf-07-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>