<?xml version="1.0" encoding="utf-8"?>
<Media Key="52ad38b1-a8fa-43ec-932b-41919d01434d" Alias="Estadisticas Vf 05 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EstadisticasVf051</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-09T16:28:06</CreateDate>
    <NodeName Default="Estadisticas Vf 05 1" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w22k0ux0/estadisticas-vf-05-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>