<?xml version="1.0" encoding="utf-8"?>
<Media Key="eabf9ead-f3ca-4220-9b9d-b1a7cc5bb6c0" Alias="Estadisticas Vf 07 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EstadisticasVf071</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-09T16:28:06</CreateDate>
    <NodeName Default="Estadisticas Vf 07 1" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vopl50wk/estadisticas-vf-07-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>