<?xml version="1.0" encoding="utf-8"?>
<Media Key="5804ea60-a5a3-4265-82b0-e5867ed2941e" Alias="Estadisticas Vf 03 1 Pgssbgjgdn7qc2glzj11doofhhb6y8czqzyj6al9mw" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/EstadisticasVf031Pgssbgjgdn7qc2glzj11doofhhb6y8czqzyj6al9mw</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-09T16:28:06</CreateDate>
    <NodeName Default="Estadisticas Vf 03 1 Pgssbgjgdn7qc2glzj11doofhhb6y8czqzyj6al9mw" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m1vaiwfd/estadisticas-vf-03-1-pgssbgjgdn7qc2glzj11doofhhb6y8czqzyj6al9mw.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>