<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7ffd510-471a-482c-b1d7-c22e98df63ae" Alias="Favicon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-16T18:49:36</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c1kp53y0/favicon.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>