<?xml version="1.0" encoding="utf-8"?>
<Media Key="72b95230-bd70-4e3d-9880-81310472e780" Alias="FOTO Directora General Janeth Alexandra Zuluaga 300X280" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FOTODirectoraGeneralJanethAlexandraZuluaga300X280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-23T14:04:42</CreateDate>
    <NodeName Default="FOTO Directora General Janeth Alexandra Zuluaga 300X280" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gzjls2tq/foto-directora-general-janeth-alexandra-zuluaga-300x280.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>