<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4f3096a-1b98-4527-b3fc-df1b01ff0663" Alias="Iconos Mosaico Blancos Mesa De Trabajo 1 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconosMosaicoBlancosMesaDeTrabajo11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-13T17:30:14</CreateDate>
    <NodeName Default="Iconos Mosaico Blancos Mesa De Trabajo 1 1" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nqephjey/iconos-mosaico-blancos_mesa-de-trabajo-1-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>