<?xml version="1.0" encoding="utf-8"?>
<Media Key="b931debd-3b0c-459f-852b-5296c37f74e7" Alias="Iconos Mosaico Blancos 02 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconosMosaicoBlancos021</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-13T17:30:14</CreateDate>
    <NodeName Default="Iconos Mosaico Blancos 02 1" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xppddoim/iconos-mosaico-blancos-02-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>