<?xml version="1.0" encoding="utf-8"?>
<Media Key="4898d345-fe6a-4505-9700-3e6f17319168" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T17:28:45</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties />
</Media>