<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dc44837-00c5-44d3-b69c-b47307c24fdd" Alias="Img Disena El Cambio Terpel Ganadores 1" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/ImgDisenaElCambioTerpelGanadores1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-23T14:04:41</CreateDate>
    <NodeName Default="Img Disena El Cambio Terpel Ganadores 1" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gfemitof/img-disena-el-cambio-terpel-ganadores-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>