<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa2f6bb5-4a55-4138-8669-a514dd9fcd2a" Alias="ISO Cert" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ISOCert</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-25T18:49:42</CreateDate>
    <NodeName Default="ISO Cert" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wnvd54sv/iso.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>