<?xml version="1.0" encoding="utf-8"?>
<Media Key="a787edf3-04bd-4595-8a73-7cb8213e229d" Alias="Logo Fundacion Exito 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoFundacionExito1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-23T14:04:42</CreateDate>
    <NodeName Default="Logo Fundacion Exito 1" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4xwjpj33/logo-fundacion-exito-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>