<?xml version="1.0" encoding="utf-8"?>
<Media Key="df12e547-b138-4ed1-9310-72b9cbac61fa" Alias="Logo Csf Glow" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/LogoCsfGlow</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-23T14:04:42</CreateDate>
    <NodeName Default="Logo Csf Glow" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ihsbfxzy/logo-csf-glow.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>