<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0ed241f-6926-4f4f-95e9-b27de56b56ba" Alias="NutrirLogo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NutrirLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-17T16:02:56</CreateDate>
    <NodeName Default="NutrirLogo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/deso1ubg/logo-nutrir.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>