<?xml version="1.0" encoding="utf-8"?>
<Media Key="e80bdebb-21c8-4a7a-9ae6-04108a6e17cb" Alias="Nutrir 09" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nutrir09</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-08T18:57:32</CreateDate>
    <NodeName Default="Nutrir 09" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xxpax0gi/nutrir-09.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>