<?xml version="1.0" encoding="utf-8"?>
<Media Key="191eb963-7833-443e-8f4f-2599279c310f" Alias="Nutrir 06 Con Texto" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nutrir06ConTexto</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-08T18:57:32</CreateDate>
    <NodeName Default="Nutrir 06 Con Texto" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mw2b2gjt/nutrir-06-con-texto.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>