<?xml version="1.0" encoding="utf-8"?>
<Media Key="433ad420-bf3a-4372-b757-1d1a81cb8f17" Alias="Nutrir 04" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nutrir04</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-08T18:57:32</CreateDate>
    <NodeName Default="Nutrir 04" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e1kduqz0/nutrir-04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>