<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c348850-1b2a-4cd7-a3c6-4a95e9bffc97" Alias="Payu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Payu</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-29T17:36:17</CreateDate>
    <NodeName Default="Payu" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k0edilbk/payu.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>