<?xml version="1.0" encoding="utf-8"?>
<Media Key="518c95b4-4ea7-4287-926c-97bfda0a7487" Alias="Valores 03 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Valores032</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-23T14:04:42</CreateDate>
    <NodeName Default="Valores 03 2" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wkkjyunh/valores-03-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>