<?xml version="1.0" encoding="utf-8"?>
<Media Key="b026cc4e-ab65-40be-89d3-264693f8fcc1" Alias="Valores 04 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Valores042</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-23T14:04:42</CreateDate>
    <NodeName Default="Valores 04 2" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jdgcnmdf/valores-04-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>