<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfb1553b-055e-49cf-9362-5bd5442e20f5" Alias="Woman Holding Chopping Board With Fruit 1" Level="2">
  <Info>
    <Parent Key="4898d345-fe6a-4505-9700-3e6f17319168">Images</Parent>
    <Path>/Images/WomanHoldingChoppingBoardWithFruit1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-31T18:29:48</CreateDate>
    <NodeName Default="Woman Holding Chopping Board With Fruit 1" />
    <SortOrder>119</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hvkldt04/woman-holding-chopping-board-with-fruit-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>