@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!-- Home Page-->
<div data-elementor-type="wp-page" data-elementor-id="23" class="elementor elementor-23">
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-6af15e6 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle"
		data-id="6af15e6" data-element_type="section"
		data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;843c042&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-75e89ce"
				data-id="75e89ce" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-1c19f92 elementor-widget elementor-widget-spacer"
						data-id="1c19f92" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-92ecc2e elementor-widget elementor-widget-spacer"
						data-id="92ecc2e" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<section
						class="elementor-section elementor-inner-section elementor-element elementor-element-c99f630 elementor-section-height-min-height elementor-section-content-middle elementor-section-full_width elementor-section-height-default"
						data-id="c99f630" data-element_type="section"
						data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;245f8dc&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-dec8735"
								data-id="dec8735" data-element_type="column"
								data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-2f04dde elementor-widget elementor-widget-image"
										data-id="2f04dde" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<a
												href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjMzOSIsInRvZ2dsZSI6ZmFsc2V9">
												<img fetchpriority="high" decoding="async" width="401" height="204"
													src="https://www.nutrirong.com/wp-content/uploads/2022/01/boton-nutrir.png"
													class="attachment-full size-full wp-image-1039" alt=""
													srcset="https://www.nutrirong.com/wp-content/uploads/2022/01/boton-nutrir.png 401w, https://www.nutrirong.com/wp-content/uploads/2022/01/boton-nutrir-300x153.png 300w"
													sizes="(max-width: 401px) 100vw, 401px" /> </a>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6b50353"
								data-id="6b50353" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-06c0dff elementor-widget elementor-widget-image"
										data-id="06c0dff" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<a href="https://wa.me/573216453086">
												<img decoding="async" width="641" height="342"
													src="https://www.nutrirong.com/wp-content/uploads/2023/01/botonesj-3.png"
													class="attachment-full size-full wp-image-2362" alt=""
													srcset="https://www.nutrirong.com/wp-content/uploads/2023/01/botonesj-3.png 641w, https://www.nutrirong.com/wp-content/uploads/2023/01/botonesj-3-300x160.png 300w, https://www.nutrirong.com/wp-content/uploads/2023/01/botonesj-3-600x320.png 600w"
													sizes="(max-width: 641px) 100vw, 641px" /> </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-b1dbf0a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="b1dbf0a" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;7367efa&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		@Html.GetBlockListHtml(Model.MainContent)
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-77e6c3d elementor-section-full_width elementor-section-stretched elementor-section-content-middle elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle"
		data-id="77e6c3d" data-element_type="section"
		data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;285373b&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-18e9eb4"
				data-id="18e9eb4" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-fe0d2c5 elementor-widget elementor-widget-spacer"
						data-id="fe0d2c5" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-572d32c elementor-widget elementor-widget-heading"
						data-id="572d32c" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.22.0 - 26-06-2024 */
								.elementor-heading-title {
									padding: 0;
									margin: 0;
									line-height: 1
								}

								.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
									color: inherit;
									font-size: inherit;
									line-height: inherit
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-small {
									font-size: 15px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
									font-size: 19px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-large {
									font-size: 29px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
									font-size: 39px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
									font-size: 59px
								}
							</style>
							<h2 class="elementor-heading-title elementor-size-default">PROBLEMÁTICA</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-018434f elementor-widget elementor-widget-spacer"
						data-id="018434f" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-79d20bf elementor-widget elementor-widget-spacer"
						data-id="79d20bf" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-0fea899 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="0fea899" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;2a3830a&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5a02d0d"
				data-id="5a02d0d" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section
						class="elementor-section elementor-inner-section elementor-element elementor-element-88b4a49 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="88b4a49" data-element_type="section"
						data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;47eca83&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-62fead6"
								data-id="62fead6" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-4d2b3e8 elementor-widget elementor-widget-image"
										data-id="4d2b3e8" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img loading="lazy" decoding="async" width="220" height="179"
												src="https://www.nutrirong.com/wp-content/uploads/2021/11/estadisticas-vf-05-1.jpg"
												class="attachment-large size-large wp-image-27" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-698efd0"
								data-id="698efd0" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-699f7b1 elementor-widget elementor-widget-spacer"
										data-id="699f7b1" data-element_type="widget" data-widget_type="spacer.default">
										<div class="elementor-widget-container">
											<div class="elementor-spacer">
												<div class="elementor-spacer-inner"></div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-c8a1abf elementor-widget elementor-widget-text-editor"
										data-id="c8a1abf" data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Niños entre 5 y 12 años presenta retraso en la talla</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a745b5e"
				data-id="a745b5e" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section
						class="elementor-section elementor-inner-section elementor-element elementor-element-b15a1e2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="b15a1e2" data-element_type="section"
						data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;e312511&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-adb2a8e"
								data-id="adb2a8e" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-6fdb4c7 elementor-widget elementor-widget-image"
										data-id="6fdb4c7" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img decoding="async"
												src="https://www.nutrirong.com/wp-content/uploads/elementor/thumbs/estadisticas-vf-03-1-pgssbgjgdn7qc2glzj11doofhhb6y8czqzyj6al9mw.jpg"
												title="estadisticas vf-03 1" alt="estadisticas vf-03 1"
												loading="lazy" />
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9099771"
								data-id="9099771" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-da19bee elementor-widget elementor-widget-spacer"
										data-id="da19bee" data-element_type="widget" data-widget_type="spacer.default">
										<div class="elementor-widget-container">
											<div class="elementor-spacer">
												<div class="elementor-spacer-inner"></div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-52f4b99 elementor-widget elementor-widget-text-editor"
										data-id="52f4b99" data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Niños menores de 5 años presentan desnutrición crónica</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-445bf17"
				data-id="445bf17" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section
						class="elementor-section elementor-inner-section elementor-element elementor-element-9ad4514 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="9ad4514" data-element_type="section"
						data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;9912dc7&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-92cee33"
								data-id="92cee33" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-45129d3 elementor-widget elementor-widget-image"
										data-id="45129d3" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img loading="lazy" decoding="async" width="221" height="180"
												src="https://www.nutrirong.com/wp-content/uploads/2021/11/estadisticas-vf-07-1.jpg"
												class="attachment-large size-large wp-image-29" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c781ef9"
								data-id="c781ef9" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-faf1db4 elementor-widget elementor-widget-spacer"
										data-id="faf1db4" data-element_type="widget" data-widget_type="spacer.default">
										<div class="elementor-widget-container">
											<div class="elementor-spacer">
												<div class="elementor-spacer-inner"></div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-5f8bda6 elementor-widget elementor-widget-text-editor"
										data-id="5f8bda6" data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<div>Niños menores de 5 años tiene lactancia materna exclusiva hasta los 6
												meses</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-3ddbc3b elementor-section-full_width elementor-section-height-default elementor-section-height-default"
		data-id="3ddbc3b" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;689d55b&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4ea031c"
				data-id="4ea031c" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-c7152c4 elementor-widget elementor-widget-spacer"
						data-id="c7152c4" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-3dc3e0f elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle"
		data-id="3dc3e0f" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;ce97591&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b84814c"
				data-id="b84814c" data-element_type="column"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-widget-wrap">
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e6e6318"
				data-id="e6e6318" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-373bbce elementor-align-center elementor-widget elementor-widget-button"
						data-id="373bbce" data-element_type="widget" data-widget_type="button.default">
						<div class="elementor-widget-container">
							<div class="elementor-button-wrapper">
								<a class="elementor-button elementor-button-link elementor-size-sm"
									href="/problematica">
									<span class="elementor-button-content-wrapper">
										<span class="elementor-button-text">Conoce más</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-54f8961"
				data-id="54f8961" data-element_type="column">
				<div class="elementor-widget-wrap">
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-79bc530 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
		data-id="79bc530" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;11066f6&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e751d63"
				data-id="e751d63" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-d855748 elementor-widget elementor-widget-spacer"
						data-id="d855748" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-7820675 elementor-section-full_width elementor-section-height-min-height elementor-section-stretched elementor-section-height-default elementor-section-items-middle"
		data-id="7820675" data-element_type="section"
		data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;7e28d74&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9a9aa73"
				data-id="9a9aa73" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-69cea3d elementor-widget elementor-widget-spacer"
						data-id="69cea3d" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-b494cb3 elementor-widget elementor-widget-heading"
						data-id="b494cb3" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">NUESTRO IMPACTO</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-2a6f2f7 elementor-widget elementor-widget-spacer"
						data-id="2a6f2f7" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-01cd4c0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="01cd4c0" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;7a24422&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-93eceea"
				data-id="93eceea" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-2f339ee elementor-widget elementor-widget-spacer"
						data-id="2f339ee" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-c95f38e elementor-hidden-tablet elementor-hidden-mobile elementor-arrows-position-inside elementor-widget elementor-widget-image-carousel"
						data-id="c95f38e" data-element_type="widget"
						data-settings="{&quot;slides_to_show&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;speed&quot;:500}"
						data-widget_type="image-carousel.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.22.0 - 26-06-2024 */
								.elementor-widget-image-carousel .swiper,
								.elementor-widget-image-carousel .swiper-container {
									position: static
								}

								.elementor-widget-image-carousel .swiper-container .swiper-slide figure,
								.elementor-widget-image-carousel .swiper .swiper-slide figure {
									line-height: inherit
								}

								.elementor-widget-image-carousel .swiper-slide {
									text-align: center
								}

								.elementor-image-carousel-wrapper:not(.swiper-container-initialized):not(.swiper-initialized) .swiper-slide {
									max-width: calc(100% / var(--e-image-carousel-slides-to-show, 3))
								}
							</style>
							<div class="elementor-image-carousel-wrapper swiper" dir="ltr">
								<div class="elementor-image-carousel swiper-wrapper" aria-live="off">
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="1 de 5">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/Carrusel-PC-02-01.png"
												alt="Carrusel PC-02-01" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="2 de 5">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/Carrusel-PC-02-02.png"
												alt="Carrusel PC-02-02" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="3 de 5">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/Carrusel-PC-02-03.png"
												alt="Carrusel PC-02-03" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="4 de 5">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/Carrusel-PC-02-04.png"
												alt="Carrusel PC-02-04" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="5 de 5">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/Carrusel-PC-02-05.png"
												alt="Carrusel PC-02-05" /></figure>
									</div>
								</div>
								<div class="elementor-swiper-button elementor-swiper-button-prev" role="button"
									tabindex="0">
									<i aria-hidden="true" class="eicon-chevron-left"></i>
								</div>
								<div class="elementor-swiper-button elementor-swiper-button-next" role="button"
									tabindex="0">
									<i aria-hidden="true" class="eicon-chevron-right"></i>
								</div>

							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-eadc176 elementor-hidden-desktop elementor-arrows-position-inside elementor-widget elementor-widget-image-carousel"
						data-id="eadc176" data-element_type="widget"
						data-settings="{&quot;slides_to_show&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;speed&quot;:500}"
						data-widget_type="image-carousel.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-carousel-wrapper swiper" dir="ltr">
								<div class="elementor-image-carousel swiper-wrapper" aria-live="off">
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="1 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-06.png"
												alt="carrusel cel-06" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="2 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-07.png"
												alt="carrusel cel-07" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="3 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-08.png"
												alt="carrusel cel-08" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="4 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-09.png"
												alt="carrusel cel-09" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="5 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-10.png"
												alt="carrusel cel-10" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="6 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-11.png"
												alt="carrusel cel-11" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="7 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-12.png"
												alt="carrusel cel-12" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="8 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-13.png"
												alt="carrusel cel-13" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="9 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-14.png"
												alt="carrusel cel-14" /></figure>
									</div>
									<div class="swiper-slide" role="group" aria-roledescription="slide"
										aria-label="10 de 10">
										<figure class="swiper-slide-inner"><img decoding="async"
												class="swiper-slide-image"
												src="https://www.nutrirong.com/wp-content/uploads/2022/01/carrusel-cel-15.png"
												alt="carrusel cel-15" /></figure>
									</div>
								</div>
								<div class="elementor-swiper-button elementor-swiper-button-prev" role="button"
									tabindex="0">
									<i aria-hidden="true" class="eicon-chevron-left"></i>
								</div>
								<div class="elementor-swiper-button elementor-swiper-button-next" role="button"
									tabindex="0">
									<i aria-hidden="true" class="eicon-chevron-right"></i>
								</div>

							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-8730987 elementor-widget elementor-widget-spacer"
						data-id="8730987" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-9d08ab1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="9d08ab1" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;11d2802&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-949cff8"
				data-id="949cff8" data-element_type="column">
				<div class="elementor-widget-wrap">
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3bd7e66"
				data-id="3bd7e66" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-15eb4df elementor-align-center elementor-widget elementor-widget-button"
						data-id="15eb4df" data-element_type="widget" data-widget_type="button.default">
						<div class="elementor-widget-container">
							<div class="elementor-button-wrapper">
								<a class="elementor-button elementor-button-link elementor-size-sm" href="/impacto">
									<span class="elementor-button-content-wrapper">
										<span class="elementor-button-text">Conoce más</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9999b46"
				data-id="9999b46" data-element_type="column">
				<div class="elementor-widget-wrap">
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-feab603 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="feab603" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;2816828&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-250edb1"
				data-id="250edb1" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-f0bae65 elementor-widget elementor-widget-spacer"
						data-id="f0bae65" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-0dcde40 elementor-section-full_width elementor-section-height-min-height elementor-section-stretched elementor-section-height-default elementor-section-items-middle"
		data-id="0dcde40" data-element_type="section"
		data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;acf4fd2&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5270834"
				data-id="5270834" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-ff477b7 elementor-widget elementor-widget-spacer"
						data-id="ff477b7" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-0a49b1d elementor-widget elementor-widget-heading"
						data-id="0a49b1d" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">¿CÓMO AYUDAR?</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-9848869 elementor-widget elementor-widget-spacer"
						data-id="9848869" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-34e2e05 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="34e2e05" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;566089a&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5dbce0d"
				data-id="5dbce0d" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-d78c0f7 elementor-widget elementor-widget-spacer"
						data-id="d78c0f7" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-30f7ad9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="30f7ad9" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;09fcfbe&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6786752 click-child pointer"
				data-id="6786752" data-element_type="column"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-b7a52cc elementor-widget elementor-widget-spacer"
						data-id="b7a52cc" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-a9a08ed elementor-widget elementor-widget-heading"
						data-id="a9a08ed" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h5 class="elementor-heading-title elementor-size-default"><a
									href="https://www.nutrirong.com/ayuda/#padrino">Plan Padrino Nutrir</a></h5>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-bdc6c77 click-child pointer"
				data-id="bdc6c77" data-element_type="column"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-acdadc8 elementor-widget elementor-widget-spacer"
						data-id="acdadc8" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-fb70f7d elementor-widget elementor-widget-heading"
						data-id="fb70f7d" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h5 class="elementor-heading-title elementor-size-default"><a
									href="https://www.nutrirong.com/ayuda/#bonos">Bonos Nutrir<span
										style="font-family: var( --e-global-typography-primary-font-family ), Sans-serif; font-size: 1.25rem; font-weight: var( --e-global-typography-primary-font-weight );"></span><br></a>
							</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4fdf65b click-child pointer"
				data-id="4fdf65b" data-element_type="column"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-2efa665 elementor-widget elementor-widget-image"
						data-id="2efa665" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<a
								href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjMzOSIsInRvZ2dsZSI6ZmFsc2V9">
								<img loading="lazy" decoding="async" width="281" height="283"
									src="https://www.nutrirong.com/wp-content/uploads/2021/11/iconos-mosaico-blancos-05-1.jpg"
									class="attachment-large size-large wp-image-47" alt=""
									srcset="https://www.nutrirong.com/wp-content/uploads/2021/11/iconos-mosaico-blancos-05-1.jpg 281w, https://www.nutrirong.com/wp-content/uploads/2021/11/iconos-mosaico-blancos-05-1-150x150.jpg 150w"
									sizes="(max-width: 281px) 100vw, 281px" /> </a>
						</div>
					</div>
					<div class="elementor-element elementor-element-fbf77c9 elementor-widget elementor-widget-heading"
						data-id="fbf77c9" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h5 class="elementor-heading-title elementor-size-default"><a
									href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjMzOSIsInRvZ2dsZSI6ZmFsc2V9">Dona
									desde mil pesos</a></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-a31a189 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
		data-id="a31a189" data-element_type="section"
		data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;e4ca677&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a560ebc"
				data-id="a560ebc" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-0f8bcfd elementor-widget elementor-widget-spacer"
						data-id="0f8bcfd" data-element_type="widget" data-widget_type="spacer.default">
						<div class="elementor-widget-container">
							<div class="elementor-spacer">
								<div class="elementor-spacer-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>