@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!doctype html>
<html lang="es">

<head>
	@await Html.PartialAsync("~/Views/Partials/_MetaData.cshtml")
	<link rel='stylesheet' href='css/masterStyles.css' media='all' />
	<link rel='stylesheet' id='woocommerce-layout-css'
		href='https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css' media='all' />
	<link rel='stylesheet' id='woocommerce-smallscreen-css'
		href='https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css'
		media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='woocommerce-general-css'
		href='https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/css/woocommerce.css' media='all' />
	<link rel='stylesheet' id='hello-elementor-css'
		href='https://www.nutrirong.com/wp-content/themes/hello-elementor/style.min.css' media='all' />
	<link rel='stylesheet' id='hello-elementor-theme-style-css'
		href='https://www.nutrirong.com/wp-content/themes/hello-elementor/theme.min.css' media='all' />
	<link rel='stylesheet' id='hello-elementor-header-footer-css'
		href='https://www.nutrirong.com/wp-content/themes/hello-elementor/header-footer.min.css' media='all' />
	<link rel='stylesheet' id='elementor-frontend-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/css/frontend-lite.min.css' media='all' />
	<link rel='stylesheet' id='elementor-post-5-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-5.css' media='all' />
	<link rel='stylesheet' id='jet-elements-css'
		href='https://www.nutrirong.com/wp-content/plugins/jet-elements/assets/css/jet-elements.css' media='all' />
	<link rel='stylesheet' id='jet-elements-skin-css'
		href='https://www.nutrirong.com/wp-content/plugins/jet-elements/assets/css/jet-elements-skin.css' media='all' />
	<link rel='stylesheet' id='elementor-icons-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css'
		media='all' />
	<link rel='stylesheet' id='swiper-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/swiper/v8/css/swiper.min.css'
		media='all' />
	<link rel='stylesheet' id='elementor-pro-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/css/frontend-lite.min.css'
		media='all' />
	<link rel='stylesheet' id='elementor-global-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/global.css' media='all' />
	<link rel='stylesheet' id='elementor-post-23-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-23.css' media='all' />
	<link rel='stylesheet' id='elementor-post-7-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-7.css' media='all' />
	<link rel='stylesheet' id='elementor-post-12-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-12.css' media='all' />
	<link rel='stylesheet' id='chld_thm_cfg_child-css'
		href='https://www.nutrirong.com/wp-content/themes/hello-elementor-child/style.css' media='all' />
	<link rel='stylesheet' id='google-fonts-1-css'
		href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=6.4.3'
		media='all' />
	<link rel='stylesheet' id='elementor-icons-shared-0-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css'
		media='all' />
	<link rel='stylesheet' id='elementor-icons-fa-solid-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css'
		media='all' />
	<link rel='stylesheet' id='elementor-icons-fa-brands-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/brands.min.css'
		media='all' />
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<script src="https://www.nutrirong.com/wp-includes/js/jquery/jquery.min.js" id="jquery-core-js"></script>
	<script src="https://www.nutrirong.com/wp-includes/js/jquery/jquery-migrate.min.js" id="jquery-migrate-js"></script>
	<script defer
		src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js"
		id="jquery-blockui-js" defer data-wp-strategy="defer"></script>
	<script id="wc-add-to-cart-js-extra">
		var wc_add_to_cart_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "Ver carrito", "cart_url": "https:\/\/www.nutrirong.com\/carrito\/", "is_cart": "", "cart_redirect_after_add": "no" };
	</script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js"
		id="wc-add-to-cart-js" defer data-wp-strategy="defer"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js"
		id="js-cookie-js" defer data-wp-strategy="defer"></script>
	<script id="woocommerce-js-extra">
		var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
	</script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js"
		id="woocommerce-js" defer data-wp-strategy="defer"></script>
	<link rel="https://api.w.org/" href="https://www.nutrirong.com/wp-json/" />
	<link rel="alternate" type="application/json" href="https://www.nutrirong.com/wp-json/wp/v2/pages/23" />
	<link rel="canonical" href="https://www.nutrirong.com/" />
	<link rel="alternate" type="application/json+oembed"
		href="https://www.nutrirong.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.nutrirong.com%2F" />
	<link rel="alternate" type="text/xml+oembed"
		href="https://www.nutrirong.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.nutrirong.com%2F&#038;format=xml" />
	<noscript>
		<style>
			.woocommerce-product-gallery {
				opacity: 1 !important;
			}
		</style>
	</noscript>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		jQuery(document).ready(function () { jQuery("body").on("click", ".click-child", function () { var href = jQuery(this).find("a").attr('href'); window.location = href; }); });
	</script>
	<link rel='stylesheet' id='wc-blocks-style-css'
		href='https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/client/blocks/wc-blocks.css'
		media='all' />
	<link rel='stylesheet' id='elementor-post-339-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-339.css' media='all' />
	<link rel='stylesheet' id='elementor-post-265-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-265.css' media='all' />
	<script defer
		src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/sourcebuster/sourcebuster.min.js"
		id="sourcebuster-js-js"></script>
	<script id="wc-order-attribution-js-extra">
		var wc_order_attribution = { "params": { "lifetime": 1.0e-5, "session": 30, "base64": false, "ajaxurl": "https:\/\/www.nutrirong.com\/wp-admin\/admin-ajax.php", "prefix": "wc_order_attribution_", "allowTracking": true }, "fields": { "source_type": "current.typ", "referrer": "current_add.rf", "utm_campaign": "current.cmp", "utm_source": "current.src", "utm_medium": "current.mdm", "utm_content": "current.cnt", "utm_id": "current.id", "utm_term": "current.trm", "utm_source_platform": "current.plt", "utm_creative_format": "current.fmt", "utm_marketing_tactic": "current.tct", "session_entry": "current_add.ep", "session_start_time": "current_add.fd", "session_pages": "session.pgs", "session_count": "udata.vst", "user_agent": "udata.uag" } };
	</script>
	<script defer
		src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/frontend/order-attribution.min.js"
		id="wc-order-attribution-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/themes/hello-elementor/assets/js/hello-frontend.min.js"
		id="hello-theme-frontend-js"></script>
	<script defer
		src="https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/lib/smartmenus/jquery.smartmenus.min.js"
		id="smartmenus-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/js/webpack-pro.runtime.min.js"
		id="elementor-pro-webpack-runtime-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js"
		id="elementor-webpack-runtime-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js"
		id="elementor-frontend-modules-js"></script>
	<script id="elementor-pro-frontend-js-before">
		var ElementorProFrontendConfig = {
			"ajaxurl": "https:\/\/www.nutrirong.com\/wp-admin\/admin-ajax.php", "nonce": "515af049d2", "urls": { "assets": "https:\/\/www.nutrirong.com\/wp-content\/plugins\/elementor-pro\/assets\/", "rest": "https:\/\/www.nutrirong.com\/wp-json\/" }, "i18n": { "toc_no_headings_found": "No se ha encontrado ning\u00fan encabezado en esta p\u00e1gina." }, "shareButtonsNetworks": { "facebook": { "title": "Facebook", "has_counter": true }, "twitter": { "title": "Twitter" }, "linkedin": { "title": "LinkedIn", "has_counter": true }, "pinterest": { "title": "Pinterest", "has_counter": true }, "reddit": { "title": "Reddit", "has_counter": true }, "vk": { "title": "VK", "has_counter": true }, "odnoklassniki": { "title": "OK", "has_counter": true }, "tumblr": { "title": "Tumblr" }, "digg": { "title": "Digg" }, "skype": { "title": "Skype" }, "stumbleupon": { "title": "StumbleUpon", "has_counter": true }, "mix": { "title": "Mix" }, "telegram": { "title": "Telegram" }, "pocket": { "title": "Pocket", "has_counter": true }, "xing": { "title": "XING", "has_counter": true }, "whatsapp": { "title": "WhatsApp" }, "email": { "title": "Email" }, "print": { "title": "Print" } },
			"menu_cart": { "cart_page_url": "https:\/\/www.nutrirong.com\/carrito\/", "checkout_page_url": "https:\/\/www.nutrirong.com\/caja-de-pago\/" }, "facebook_sdk": { "lang": "es_ES", "app_id": "" }, "lottie": { "defaultAnimationUrl": "https:\/\/www.nutrirong.com\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json" }
		};
	</script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/js/frontend.min.js"
		id="elementor-pro-frontend-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js"
		id="elementor-waypoints-js"></script>
	<script defer src="https://www.nutrirong.com/wp-includes/js/jquery/ui/core.min.js" id="jquery-ui-core-js"></script>
	<script id="elementor-frontend-js-before">
		var elementorFrontendConfig = {
			"environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Compartir en Facebook", "shareOnTwitter": "Compartir en Twitter", "pinIt": "Pinear", "download": "Descargar", "downloadImage": "Descargar imagen", "fullscreen": "Pantalla completa", "zoom": "Zoom", "share": "Compartir", "playVideo": "Reproducir v\u00eddeo", "previous": "Anterior", "next": "Siguiente", "close": "Cerrar", "a11yCarouselWrapperAriaLabel": "Carrusel | Scroll horizontal: Flecha izquierda y derecha", "a11yCarouselPrevSlideMessage": "Diapositiva anterior", "a11yCarouselNextSlideMessage": "Diapositiva siguiente", "a11yCarouselFirstSlideMessage": "Esta es la primera diapositiva", "a11yCarouselLastSlideMessage": "Esta es la \u00faltima diapositiva", "a11yCarouselPaginationBulletMessage": "Ir a la diapositiva" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "M\u00f3vil vertical", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "M\u00f3vil horizontal", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tableta vertical", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tableta horizontal", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Port\u00e1til", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Pantalla grande", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } },
			"version": "3.22.3", "is_static": false, "experimentalFeatures": { "e_optimized_assets_loading": true, "e_optimized_css_loading": true, "additional_custom_breakpoints": true, "container_grid": true, "e_swiper_latest": true, "e_onboarding": true, "theme_builder_v2": true, "hello-theme-header-footer": true, "home_screen": true, "ai-layout": true, "landing-pages": true, "form-submissions": true }, "urls": { "assets": "https:\/\/www.nutrirong.com\/wp-content\/plugins\/elementor\/assets\/" }, "swiperClass": "swiper", "settings": { "page": [], "editorPreferences": [] }, "kit": { "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description", "hello_header_logo_type": "title", "hello_header_menu_layout": "horizontal", "hello_footer_logo_type": "logo" }, "post": { "id": 23, "title": "Fundacion%20Nutrir", "excerpt": "", "featuredImage": false }
		};
	</script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor/assets/js/frontend.min.js"
		id="elementor-frontend-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/js/elements-handlers.min.js"
		id="pro-elements-handlers-js"></script>
	<script id="jet-elements-js-extra">
		var jetElements = { "ajaxUrl": "https:\/\/www.nutrirong.com\/wp-admin\/admin-ajax.php", "isMobile": "false", "templateApiUrl": "https:\/\/www.nutrirong.com\/wp-json\/jet-elements-api\/v1\/elementor-template", "devMode": "false", "messages": { "invalidMail": "Please specify a valid e-mail" } };
	</script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/jet-elements/assets/js/jet-elements.min.js"
		id="jet-elements-js"></script>


</head>

<body
	class="home page-template page-template-elementor_header_footer page page-id-23 theme-hello-elementor woocommerce-no-js elementor-default elementor-template-full-width elementor-kit-5 elementor-page elementor-page-23">
	<!-- Page Header-->
	<a class="skip-link screen-reader-text" href="#content">Ir al contenido</a>
	<div data-elementor-type="header" data-elementor-id="7" class="elementor elementor-7 elementor-location-header">
		<div class="elementor-section-wrap">
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-1335d50 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="1335d50" data-element_type="section"
				data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;05b7b57&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5dbfe53"
						data-id="5dbfe53" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-f1fa82e elementor-widget elementor-widget-image"
								data-id="f1fa82e" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<a href="/home">
										<img width="184" height="166"
											src="https://www.nutrirong.com/wp-content/uploads/2021/11/logo-Nutrir.png"
											class="attachment-large size-large wp-image-242" alt="" /> </a>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-783ab86"
						data-id="783ab86" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-2099cf2 elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-spacer"
								data-id="2099cf2" data-element_type="widget" data-widget_type="spacer.default">
								<div class="elementor-widget-container">
									<div class="elementor-spacer">
										<div class="elementor-spacer-inner"></div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-0c41be2 toggle-icon--bag-light elementor-hidden-desktop elementor-menu-cart--items-indicator-bubble elementor-menu-cart--cart-type-side-cart elementor-menu-cart--show-remove-button-yes elementor-widget elementor-widget-woocommerce-menu-cart"
								data-id="0c41be2" data-element_type="widget"
								data-settings="{&quot;cart_type&quot;:&quot;side-cart&quot;,&quot;open_cart&quot;:&quot;click&quot;,&quot;automatically_open_cart&quot;:&quot;no&quot;}"
								data-widget_type="woocommerce-menu-cart.default">
								<div class="elementor-widget-container">
									<div class="elementor-menu-cart__wrapper">
										<div class="elementor-menu-cart__toggle_wrapper">
											<div class="elementor-menu-cart__container elementor-lightbox"
												aria-hidden="true">
												<div class="elementor-menu-cart__main" aria-hidden="true">
													<div class="elementor-menu-cart__close-button"></div>
													<div class="widget_shopping_cart_content">
														<div class="woocommerce-mini-cart__empty-message">No hay
															productos en el carrito.</div>
													</div>
												</div>
											</div>
											<div class="elementor-menu-cart__toggle elementor-button-wrapper">
												<a id="elementor-menu-cart__toggle_button" href="#"
													class="elementor-menu-cart__toggle_button elementor-button elementor-size-sm"
													aria-expanded="false">
													<span class="elementor-button-text"><span
															class="woocommerce-Price-amount amount"><bdi><span
																	class="woocommerce-Price-currencySymbol">&#36;</span>0</bdi></span></span>
													<span class="elementor-button-icon" data-counter="0">
														<i class="eicon"></i>
														<span class="elementor-screen-only">Carrito</span>
													</span>
												</a>
											</div>
										</div>
									</div> <!-- close elementor-menu-cart__wrapper -->
								</div>
							</div>
							<div class="elementor-element elementor-element-240a21f elementor-nav-menu__align-center elementor-hidden-tablet elementor-hidden-mobile elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu"
								data-id="240a21f" data-element_type="widget"
								data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-caret-down\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}"
								data-widget_type="nav-menu.default">
								<div class="elementor-widget-container">
									<link rel="stylesheet"
										href="https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/css/widget-nav-menu.min.css">
									<nav migration_allowed="1" migrated="0" role="navigation"
										class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
										<ul id="menu-1-240a21f" class="elementor-nav-menu">
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-23 current_page_item menu-item-1423">
												<a href="https://www.nutrirong.com/" aria-current="page"
													class="elementor-item elementor-item-active">Inicio</a>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-232">
												<a href="https://www.nutrirong.com/sobre-nosotros/"
													class="elementor-item">Sobre Nosotros</a>
											</li>
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275">
												<a href="https://www.nutrirong.com/problematica/"
													class="elementor-item">Problemática</a>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-235">
												<a href="https://www.nutrirong.com/impacto/"
													class="elementor-item">Impacto</a>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-236">
												<a href="https://www.nutrirong.com/ayuda/" class="elementor-item">Cómo
													Ayudar</a>
											</li>
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-460">
												<a href="https://www.nutrirong.com/contactanos/"
													class="elementor-item">Contáctanos</a>
												<ul class="sub-menu elementor-nav-menu--dropdown">
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1212">
														<a href="https://www.nutrirong.com/contactanos/"
															class="elementor-sub-item">Contacto</a>
													</li>
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1933">
														<a href="https://www.nutrirong.com/encuestas-de-satisfaccion/"
															class="elementor-sub-item">Encuestas de Satisfacción</a>
														<ul class="sub-menu elementor-nav-menu--dropdown">
															<li
																class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1111">
																<a target="_blank" rel="noopener"
																	href="https://docs.google.com/forms/d/e/1FAIpQLSe06FQz5y5yzag0_21sRfMJbCQR_FHp3bLBMsQvrvkn0UNJZA/viewform?usp=pp_url"
																	class="elementor-sub-item">A Padrinos</a>
															</li>
															<li
																class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1112">
																<a target="_blank" rel="noopener"
																	href="https://docs.google.com/forms/d/e/1FAIpQLScuiKCG8lyIVfZIzGmInEpeGHjnt1_HzGa8CN3PjhxhvG1pow/viewform?usp=pp_url"
																	class="elementor-sub-item">Productos y Servicios</a>
															</li>
														</ul>
													</li>
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1171">
														<a href="https://www.nutrirong.com/pqrfs/"
															class="elementor-sub-item">PQRFA</a>
													</li>
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1172">
														<a href="https://www.nutrirong.com/certificados-de-donacion/"
															class="elementor-sub-item">Certificados de Donación</a>
													</li>
												</ul>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-238">
												<a href="https://www.nutrirong.com/tienda/"
													class="elementor-item">Tienda</a>
											</li>
										</ul>
									</nav>
									<div class="elementor-menu-toggle" role="button" tabindex="0"
										aria-label="Alternar menú" aria-expanded="false">
										<i aria-hidden="true" role="presentation"
											class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i
											aria-hidden="true" role="presentation"
											class="elementor-menu-toggle__icon--close eicon-close"></i> <span
											class="elementor-screen-only">Menú</span>
									</div>
									<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container"
										role="navigation" aria-hidden="true">
										<ul id="menu-2-240a21f" class="elementor-nav-menu">
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-23 current_page_item menu-item-1423">
												<a href="https://www.nutrirong.com/" aria-current="page"
													class="elementor-item elementor-item-active"
													tabindex="-1">Inicio</a>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-232">
												<a href="https://www.nutrirong.com/sobre-nosotros/"
													class="elementor-item" tabindex="-1">Sobre Nosotros</a>
											</li>
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275">
												<a href="https://www.nutrirong.com/problematica/" class="elementor-item"
													tabindex="-1">Problemática</a>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-235">
												<a href="https://www.nutrirong.com/impacto/" class="elementor-item"
													tabindex="-1">Impacto</a>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-236">
												<a href="https://www.nutrirong.com/ayuda/" class="elementor-item"
													tabindex="-1">Cómo Ayudar</a>
											</li>
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-460">
												<a href="https://www.nutrirong.com/contactanos/" class="elementor-item"
													tabindex="-1">Contáctanos</a>
												<ul class="sub-menu elementor-nav-menu--dropdown">
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1212">
														<a href="https://www.nutrirong.com/contactanos/"
															class="elementor-sub-item" tabindex="-1">Contacto</a>
													</li>
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1933">
														<a href="https://www.nutrirong.com/encuestas-de-satisfaccion/"
															class="elementor-sub-item" tabindex="-1">Encuestas de
															Satisfacción</a>
														<ul class="sub-menu elementor-nav-menu--dropdown">
															<li
																class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1111">
																<a target="_blank" rel="noopener"
																	href="https://docs.google.com/forms/d/e/1FAIpQLSe06FQz5y5yzag0_21sRfMJbCQR_FHp3bLBMsQvrvkn0UNJZA/viewform?usp=pp_url"
																	class="elementor-sub-item" tabindex="-1">A
																	Padrinos</a>
															</li>
															<li
																class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1112">
																<a target="_blank" rel="noopener"
																	href="https://docs.google.com/forms/d/e/1FAIpQLScuiKCG8lyIVfZIzGmInEpeGHjnt1_HzGa8CN3PjhxhvG1pow/viewform?usp=pp_url"
																	class="elementor-sub-item" tabindex="-1">Productos y
																	Servicios</a>
															</li>
														</ul>
													</li>
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1171">
														<a href="https://www.nutrirong.com/pqrfs/"
															class="elementor-sub-item" tabindex="-1">PQRFA</a>
													</li>
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1172">
														<a href="https://www.nutrirong.com/certificados-de-donacion/"
															class="elementor-sub-item" tabindex="-1">Certificados de
															Donación</a>
													</li>
												</ul>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-238">
												<a href="https://www.nutrirong.com/tienda/" class="elementor-item"
													tabindex="-1">Tienda</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-694d905"
						data-id="694d905" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-f042aad elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-spacer"
								data-id="f042aad" data-element_type="widget" data-widget_type="spacer.default">
								<div class="elementor-widget-container">
									<div class="elementor-spacer">
										<div class="elementor-spacer-inner"></div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-211d930 toggle-icon--bag-light elementor-hidden-tablet elementor-hidden-mobile elementor-menu-cart--items-indicator-bubble elementor-menu-cart--cart-type-side-cart elementor-menu-cart--show-remove-button-yes elementor-widget elementor-widget-woocommerce-menu-cart"
								data-id="211d930" data-element_type="widget"
								data-settings="{&quot;cart_type&quot;:&quot;side-cart&quot;,&quot;open_cart&quot;:&quot;click&quot;,&quot;automatically_open_cart&quot;:&quot;no&quot;}"
								data-widget_type="woocommerce-menu-cart.default">
								<div class="elementor-widget-container">
									<div class="elementor-menu-cart__wrapper">
										<div class="elementor-menu-cart__toggle_wrapper">
											<div class="elementor-menu-cart__container elementor-lightbox"
												aria-hidden="true">
												<div class="elementor-menu-cart__main" aria-hidden="true">
													<div class="elementor-menu-cart__close-button"></div>
													<div class="widget_shopping_cart_content">
														<div class="woocommerce-mini-cart__empty-message">No hay
															productos en el carrito.</div>
													</div>
												</div>
											</div>
											<div class="elementor-menu-cart__toggle elementor-button-wrapper">
												<a id="elementor-menu-cart__toggle_button" href="#"
													class="elementor-menu-cart__toggle_button elementor-button elementor-size-sm"
													aria-expanded="false">
													<span class="elementor-button-text"><span
															class="woocommerce-Price-amount amount"><bdi><span
																	class="woocommerce-Price-currencySymbol">&#36;</span>0</bdi></span></span>
													<span class="elementor-button-icon" data-counter="0">
														<i class="eicon"></i>
														<span class="elementor-screen-only">Carrito</span>
													</span>
												</a>
											</div>
										</div>
									</div> <!-- close elementor-menu-cart__wrapper -->
								</div>
							</div>
							<div class="elementor-element elementor-element-c522515 elementor-hidden-desktop elementor-view-default elementor-widget elementor-widget-icon"
								data-id="c522515" data-element_type="widget" data-widget_type="icon.default">
								<div class="elementor-widget-container">
									<div class="elementor-icon-wrapper">
										<a class="elementor-icon"
											href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI2NSIsInRvZ2dsZSI6ZmFsc2V9">
											<i aria-hidden="true" class="fas fa-bars"></i> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	@RenderBody()

	<!-- Page Footer-->
	<div data-elementor-type="footer" data-elementor-id="12" class="elementor elementor-12 elementor-location-footer">
		<div class="elementor-section-wrap">
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-f9b5300 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="f9b5300" data-element_type="section"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;a3d0a62&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-ce76efd"
						data-id="ce76efd" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-56343fa elementor-widget elementor-widget-spacer"
								data-id="56343fa" data-element_type="widget" data-widget_type="spacer.default">
								<div class="elementor-widget-container">
									<div class="elementor-spacer">
										<div class="elementor-spacer-inner"></div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-1c4446a elementor-align-center elementor-widget elementor-widget-button"
								data-id="1c4446a" data-element_type="widget" data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a class="elementor-button elementor-button-link elementor-size-sm"
											href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjMzOSIsInRvZ2dsZSI6ZmFsc2V9">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">¡DONA AHORA!</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-93afc54"
						data-id="93afc54" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-a9a745f elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-image"
								data-id="a9a745f" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="135" height="179"
										src="https://www.nutrirong.com/wp-content/uploads/2021/11/flechas.png"
										class="attachment-large size-large wp-image-226" alt="" />
								</div>
							</div>
							<div class="elementor-element elementor-element-3ebc40b elementor-hidden-desktop elementor-widget elementor-widget-image"
								data-id="3ebc40b" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="135" height="121"
										src="https://www.nutrirong.com/wp-content/uploads/2021/11/flechas-abajo.png"
										class="attachment-large size-large wp-image-261" alt="" />
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-b252efd"
						data-id="b252efd" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-066412a elementor-widget elementor-widget-image"
								data-id="066412a" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<a href="https://www.psepagos.co/PSEHostingUI/ShowTicketOffice.aspx?ID=1665"
										target="_blank">
										<img width="157" height="179"
											src="https://www.nutrirong.com/wp-content/uploads/2021/11/pse.png"
											class="attachment-large size-large wp-image-228" alt="" /> </a>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-233e9c0"
						data-id="233e9c0" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-52b6535 elementor-widget elementor-widget-image"
								data-id="52b6535" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<a href="https://www.nutrirong.com/payu/" target="_blank">
										<img width="174" height="179"
											src="https://www.nutrirong.com/wp-content/uploads/2021/11/payu.png"
											class="attachment-large size-large wp-image-227" alt="" /> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-c792208 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="c792208" data-element_type="section"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;f3fe13a&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ff3621b"
						data-id="ff3621b" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-7754963 elementor-section-content-middle elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="7754963" data-element_type="section"
								data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;36e1192&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-270fe29"
										data-id="270fe29" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-a3d9410 elementor-widget elementor-widget-text-editor"
												data-id="a3d9410" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>Copyright C 2021 Fundación Nutrir Desarrollado por Grupo Impulzo
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-88fe4fa"
										data-id="88fe4fa" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-d78e655 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
												data-id="d78e655" data-element_type="widget"
												data-widget_type="icon-list.default">
												<div class="elementor-widget-container">
													<link rel="stylesheet"
														href="https://www.nutrirong.com/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">
													<ul class="elementor-icon-list-items">
														<li class="elementor-icon-list-item">
															<span class="elementor-icon-list-text">¡VISITANOS!</span>
														</li>
														<li class="elementor-icon-list-item">
															<span class="elementor-icon-list-text">Manizales - Caldas -
																Colombia</span>
														</li>
														<li class="elementor-icon-list-item">
															<span class="elementor-icon-list-text">Carrera 19 No 72A -
																18</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-68b83f6 elementor-section-content-middle elementor-hidden-desktop elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="68b83f6" data-element_type="section"
								data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;e231e6e&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3d8aeab"
										data-id="3d8aeab" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-bcc97bd elementor-widget elementor-widget-text-editor"
												data-id="bcc97bd" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>Copyright C 2021 Fundación Nutrir Desarrollado por Grupo Impulzo
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-59821db"
										data-id="59821db" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-015bebc elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
												data-id="015bebc" data-element_type="widget"
												data-widget_type="icon-list.default">
												<div class="elementor-widget-container">
													<ul class="elementor-icon-list-items">
														<li class="elementor-icon-list-item">
															<span class="elementor-icon-list-text">¡VISITANOS!</span>
														</li>
														<li class="elementor-icon-list-item">
															<span class="elementor-icon-list-text">Manizales - Caldas -
																Colombia</span>
														</li>
														<li class="elementor-icon-list-item">
															<span class="elementor-icon-list-text">Carrera 19 No 72A -
																18</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f526ab9"
						data-id="f526ab9" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-bd2c6bf elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="bd2c6bf" data-element_type="section"
								data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;c79b522&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-74c39fe"
										data-id="74c39fe" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-25fac3f elementor-widget elementor-widget-heading"
												data-id="25fac3f" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h5 class="elementor-heading-title elementor-size-default">SÍGUENOS
														TAMBIEN AQUÍ:</h5>
												</div>
											</div>
											<div class="elementor-element elementor-element-844357a elementor-shape-circle elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons"
												data-id="844357a" data-element_type="widget"
												data-widget_type="social-icons.default">
												<div class="elementor-widget-container">
													<div class="elementor-social-icons-wrapper elementor-grid">
														<span class="elementor-grid-item">
															<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-1d3786c"
																href="https://www.facebook.com/nutrirong/"
																target="_blank">
																<span class="elementor-screen-only">Facebook</span>
																<i class="fab fa-facebook"></i> </a>
														</span>
														<span class="elementor-grid-item">
															<a class="elementor-icon elementor-social-icon elementor-social-icon-whatsapp elementor-repeater-item-b4ea1b2"
																href="https://wa.me/+573216453086" target="_blank">
																<span class="elementor-screen-only">Whatsapp</span>
																<i class="fab fa-whatsapp"></i> </a>
														</span>
														<span class="elementor-grid-item">
															<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-06ae945"
																href="https://twitter.com/NutrirONG" target="_blank">
																<span class="elementor-screen-only">Twitter</span>
																<i class="fab fa-twitter"></i> </a>
														</span>
														<span class="elementor-grid-item">
															<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-b30f0de"
																href="https://instagram.com/nutrirong?utm_medium=copy_link"
																target="_blank">
																<span class="elementor-screen-only">Instagram</span>
																<i class="fab fa-instagram"></i> </a>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a3da8c0"
										data-id="a3da8c0" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-479920c elementor-widget elementor-widget-image"
												data-id="479920c" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<a href="https://nutrirong-my.sharepoint.com/:b:/p/comunicacion/EWCUCd1rCxhGiNLVzc0PNEIB_IUeza-zdh5n37poSF5RXA?e=HCKpVQ"
														target="_blank">
														<img src="https://www.nutrirong.com/wp-content/uploads/elementor/thumbs/img-certificado-icontec-codigo-nutrir-e1671501269903-pzf4eenq4icn8p5s2alqtqvk3d98yxkdcz97cupw0g.png"
															title="img-certificado-icontec codigo nutrir"
															alt="img-certificado-icontec codigo nutrir"
															loading="lazy" /> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div data-elementor-type="popup" data-elementor-id="339" class="elementor elementor-339 elementor-location-popup"
		data-elementor-settings="{&quot;prevent_close_on_esc_key&quot;:&quot;yes&quot;,&quot;prevent_scroll&quot;:&quot;yes&quot;,&quot;timing&quot;:[]}">
		<div class="elementor-section-wrap">
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-a3d092a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="a3d092a" data-element_type="section"
				data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;b60960b&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-36219cb"
						data-id="36219cb" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-a2c10ad elementor-widget elementor-widget-spacer"
								data-id="a2c10ad" data-element_type="widget" data-widget_type="spacer.default">
								<div class="elementor-widget-container">
									<div class="elementor-spacer">
										<div class="elementor-spacer-inner"></div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-35a7c5a elementor-widget elementor-widget-heading"
								data-id="35a7c5a" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h2 class="elementor-heading-title elementor-size-default">Ayuda a la niñez del
										pais<br> haz tu donación</h2>
								</div>
							</div>
							<div class="elementor-element elementor-element-d21d724 elementor-widget elementor-widget-text-editor"
								data-id="d21d724" data-element_type="widget" data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									Gracias por apoyarnos, con tu ayuda estamos transformando el mundo de nuestros niños
								</div>
							</div>
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-abf168b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="abf168b" data-element_type="section"
								data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;68ca622&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e054d72"
										data-id="e054d72" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-adfd76b elementor-widget elementor-widget-image"
												data-id="adfd76b" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<a href="https://www.psepagos.co/PSEHostingUI/ShowTicketOffice.aspx?ID=1665"
														target="_blank">
														<img width="157" height="179"
															src="https://www.nutrirong.com/wp-content/uploads/2021/11/pse.png"
															class="attachment-large size-large wp-image-228" alt="" />
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b977fbe"
										data-id="b977fbe" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-ca9c174 elementor-widget elementor-widget-image"
												data-id="ca9c174" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<a href="https://www.nutrirong.com/payu/" target="_blank">
														<img width="174" height="179"
															src="https://www.nutrirong.com/wp-content/uploads/2021/11/payu.png"
															class="attachment-large size-large wp-image-227" alt="" />
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div data-elementor-type="popup" data-elementor-id="265" class="elementor elementor-265 elementor-location-popup"
		data-elementor-settings="{&quot;prevent_scroll&quot;:&quot;yes&quot;,&quot;timing&quot;:[]}">
		<div class="elementor-section-wrap">
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-24fcde70 elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-boxed elementor-section-height-default"
				data-id="24fcde70" data-element_type="section"
				data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;31c4c2c&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}]}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6e6615c3"
						data-id="6e6615c3" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-ae54e48 elementor-widget elementor-widget-image"
								data-id="ae54e48" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<a href="https://www.nutrirong.com/">
										<img width="184" height="166"
											src="https://www.nutrirong.com/wp-content/uploads/2021/11/logo-Nutrir.png"
											class="attachment-large size-large wp-image-242" alt="" /> </a>
								</div>
							</div>
							<div class="elementor-element elementor-element-a67b74c elementor-widget elementor-widget-nav-menu"
								data-id="a67b74c" data-element_type="widget"
								data-settings="{&quot;layout&quot;:&quot;dropdown&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-caret-down\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}"
								data-widget_type="nav-menu.default">
								<div class="elementor-widget-container">
									<div class="elementor-menu-toggle" role="button" tabindex="0"
										aria-label="Alternar menú" aria-expanded="false">
										<i aria-hidden="true" role="presentation"
											class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i
											aria-hidden="true" role="presentation"
											class="elementor-menu-toggle__icon--close eicon-close"></i> <span
											class="elementor-screen-only">Menú</span>
									</div>
									<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container"
										role="navigation" aria-hidden="true">
										<ul id="menu-2-a67b74c" class="elementor-nav-menu">
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-23 current_page_item menu-item-1423">
												<a href="https://www.nutrirong.com/" aria-current="page"
													class="elementor-item elementor-item-active"
													tabindex="-1">Inicio</a>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-232">
												<a href="https://www.nutrirong.com/sobre-nosotros/"
													class="elementor-item" tabindex="-1">Sobre Nosotros</a>
											</li>
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275">
												<a href="https://www.nutrirong.com/problematica/" class="elementor-item"
													tabindex="-1">Problemática</a>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-235">
												<a href="https://www.nutrirong.com/impacto/" class="elementor-item"
													tabindex="-1">Impacto</a>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-236">
												<a href="https://www.nutrirong.com/ayuda/" class="elementor-item"
													tabindex="-1">Cómo Ayudar</a>
											</li>
											<li
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-460">
												<a href="https://www.nutrirong.com/contactanos/" class="elementor-item"
													tabindex="-1">Contáctanos</a>
												<ul class="sub-menu elementor-nav-menu--dropdown">
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1212">
														<a href="https://www.nutrirong.com/contactanos/"
															class="elementor-sub-item" tabindex="-1">Contacto</a>
													</li>
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1933">
														<a href="https://www.nutrirong.com/encuestas-de-satisfaccion/"
															class="elementor-sub-item" tabindex="-1">Encuestas de
															Satisfacción</a>
														<ul class="sub-menu elementor-nav-menu--dropdown">
															<li
																class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1111">
																<a target="_blank" rel="noopener"
																	href="https://docs.google.com/forms/d/e/1FAIpQLSe06FQz5y5yzag0_21sRfMJbCQR_FHp3bLBMsQvrvkn0UNJZA/viewform?usp=pp_url"
																	class="elementor-sub-item" tabindex="-1">A
																	Padrinos</a>
															</li>
															<li
																class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1112">
																<a target="_blank" rel="noopener"
																	href="https://docs.google.com/forms/d/e/1FAIpQLScuiKCG8lyIVfZIzGmInEpeGHjnt1_HzGa8CN3PjhxhvG1pow/viewform?usp=pp_url"
																	class="elementor-sub-item" tabindex="-1">Productos y
																	Servicios</a>
															</li>
														</ul>
													</li>
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1171">
														<a href="https://www.nutrirong.com/pqrfs/"
															class="elementor-sub-item" tabindex="-1">PQRFA</a>
													</li>
													<li
														class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1172">
														<a href="https://www.nutrirong.com/certificados-de-donacion/"
															class="elementor-sub-item" tabindex="-1">Certificados de
															Donación</a>
													</li>
												</ul>
											</li>
											<li
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-238">
												<a href="https://www.nutrirong.com/tienda/" class="elementor-item"
													tabindex="-1">Tienda</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

</body>

</html>
