@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!doctype html>
<html lang="es">
<head>
	@await Html.PartialAsync("~/Views/Partials/_MetaData.cshtml")
	<link rel="stylesheet" href='@Url.Content("~/css/bannerTypeOne.css")' />
	<link rel='stylesheet' href='css/masterStyles.css' media='all' />
	<link rel='stylesheet' id='woocommerce-layout-css'
		href='https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css' media='all' />
	<link rel='stylesheet' id='woocommerce-smallscreen-css'
		href='https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css'
		media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='woocommerce-general-css'
		href='https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/css/woocommerce.css' media='all' />
	<link rel='stylesheet' id='hello-elementor-css'
		href='https://www.nutrirong.com/wp-content/themes/hello-elementor/style.min.css' media='all' />
	<link rel='stylesheet' id='hello-elementor-theme-style-css'
		href='https://www.nutrirong.com/wp-content/themes/hello-elementor/theme.min.css' media='all' />
	<link rel='stylesheet' id='hello-elementor-header-footer-css'
		href='https://www.nutrirong.com/wp-content/themes/hello-elementor/header-footer.min.css' media='all' />
	<link rel='stylesheet' id='elementor-frontend-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/css/frontend-lite.min.css' media='all' />
	<link rel='stylesheet' id='elementor-post-5-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-5.css' media='all' />
	<link rel='stylesheet' id='jet-elements-css'
		href='https://www.nutrirong.com/wp-content/plugins/jet-elements/assets/css/jet-elements.css' media='all' />
	<link rel='stylesheet' id='jet-elements-skin-css'
		href='https://www.nutrirong.com/wp-content/plugins/jet-elements/assets/css/jet-elements-skin.css' media='all' />
	<link rel='stylesheet' id='elementor-icons-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css'
		media='all' />
	<link rel='stylesheet' id='swiper-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/swiper/v8/css/swiper.min.css'
		media='all' />
	<link rel='stylesheet' id='elementor-pro-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/css/frontend-lite.min.css'
		media='all' />
	<link rel='stylesheet' id='elementor-global-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/global.css' media='all' />
	<link rel='stylesheet' id='elementor-post-23-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-23.css' media='all' />
	<link rel='stylesheet' id='elementor-post-7-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-7.css' media='all' />
	<link rel='stylesheet' id='elementor-post-12-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-12.css' media='all' />
	<link rel='stylesheet' id='chld_thm_cfg_child-css'
		href='https://www.nutrirong.com/wp-content/themes/hello-elementor-child/style.css' media='all' />
	<link rel='stylesheet' id='google-fonts-1-css'
		href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=6.4.3'
		media='all' />
	<link rel='stylesheet' id='elementor-icons-shared-0-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css'
		media='all' />
	<link rel='stylesheet' id='elementor-icons-fa-solid-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css'
		media='all' />
	<link rel='stylesheet' id='elementor-icons-fa-brands-css'
		href='https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/brands.min.css'
		media='all' />
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<script src="https://www.nutrirong.com/wp-includes/js/jquery/jquery.min.js" id="jquery-core-js"></script>
	<script src="https://www.nutrirong.com/wp-includes/js/jquery/jquery-migrate.min.js" id="jquery-migrate-js"></script>
	<script defer
		src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js"
		id="jquery-blockui-js" defer data-wp-strategy="defer"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js"
		id="js-cookie-js" defer data-wp-strategy="defer"></script>
	<script id="woocommerce-js-extra">
		var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
	</script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js"
		id="woocommerce-js" defer data-wp-strategy="defer"></script>
	<link rel="https://api.w.org/" href="https://www.nutrirong.com/wp-json/" />
	<link rel="alternate" type="application/json" href="https://www.nutrirong.com/wp-json/wp/v2/pages/23" />
	<link rel="canonical" href="https://www.nutrirong.com/" />
	<link rel="alternate" type="application/json+oembed"
		href="https://www.nutrirong.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.nutrirong.com%2F" />
	<link rel="alternate" type="text/xml+oembed"
		href="https://www.nutrirong.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.nutrirong.com%2F&#038;format=xml" />
	<noscript>
		<style>
			.woocommerce-product-gallery {
				opacity: 1 !important;
			}
		</style>
	</noscript>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		jQuery(document).ready(function () { jQuery("body").on("click", ".click-child", function () { var href = jQuery(this).find("a").attr('href'); window.location = href; }); });
	</script>
	<link rel='stylesheet' id='wc-blocks-style-css'
		href='https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/client/blocks/wc-blocks.css'
		media='all' />
	<link rel='stylesheet' id='elementor-post-339-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-339.css' media='all' />
	<link rel='stylesheet' id='elementor-post-265-css'
		href='https://www.nutrirong.com/wp-content/uploads/elementor/css/post-265.css' media='all' />
	<script defer
		src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/sourcebuster/sourcebuster.min.js"
		id="sourcebuster-js-js"></script>
	<script id="wc-order-attribution-js-extra">
		var wc_order_attribution = { "params": { "lifetime": 1.0e-5, "session": 30, "base64": false, "ajaxurl": "https:\/\/www.nutrirong.com\/wp-admin\/admin-ajax.php", "prefix": "wc_order_attribution_", "allowTracking": true }, "fields": { "source_type": "current.typ", "referrer": "current_add.rf", "utm_campaign": "current.cmp", "utm_source": "current.src", "utm_medium": "current.mdm", "utm_content": "current.cnt", "utm_id": "current.id", "utm_term": "current.trm", "utm_source_platform": "current.plt", "utm_creative_format": "current.fmt", "utm_marketing_tactic": "current.tct", "session_entry": "current_add.ep", "session_start_time": "current_add.fd", "session_pages": "session.pgs", "session_count": "udata.vst", "user_agent": "udata.uag" } };
	</script>
	<script defer
		src="https://www.nutrirong.com/wp-content/plugins/woocommerce/assets/js/frontend/order-attribution.min.js"
		id="wc-order-attribution-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/themes/hello-elementor/assets/js/hello-frontend.min.js"
		id="hello-theme-frontend-js"></script>
	<script defer
		src="https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/lib/smartmenus/jquery.smartmenus.min.js"
		id="smartmenus-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/js/webpack-pro.runtime.min.js"
		id="elementor-pro-webpack-runtime-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js"
		id="elementor-webpack-runtime-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js"
		id="elementor-frontend-modules-js"></script>
	<script id="elementor-pro-frontend-js-before">
		var ElementorProFrontendConfig = {
			"ajaxurl": "https:\/\/www.nutrirong.com\/wp-admin\/admin-ajax.php", "nonce": "515af049d2", "urls": { "assets": "https:\/\/www.nutrirong.com\/wp-content\/plugins\/elementor-pro\/assets\/", "rest": "https:\/\/www.nutrirong.com\/wp-json\/" }, "i18n": { "toc_no_headings_found": "No se ha encontrado ning\u00fan encabezado en esta p\u00e1gina." }, "shareButtonsNetworks": { "facebook": { "title": "Facebook", "has_counter": true }, "twitter": { "title": "Twitter" }, "linkedin": { "title": "LinkedIn", "has_counter": true }, "pinterest": { "title": "Pinterest", "has_counter": true }, "reddit": { "title": "Reddit", "has_counter": true }, "vk": { "title": "VK", "has_counter": true }, "odnoklassniki": { "title": "OK", "has_counter": true }, "tumblr": { "title": "Tumblr" }, "digg": { "title": "Digg" }, "skype": { "title": "Skype" }, "stumbleupon": { "title": "StumbleUpon", "has_counter": true }, "mix": { "title": "Mix" }, "telegram": { "title": "Telegram" }, "pocket": { "title": "Pocket", "has_counter": true }, "xing": { "title": "XING", "has_counter": true }, "whatsapp": { "title": "WhatsApp" }, "email": { "title": "Email" }, "print": { "title": "Print" } },
			"menu_cart": { "cart_page_url": "https:\/\/www.nutrirong.com\/carrito\/", "checkout_page_url": "https:\/\/www.nutrirong.com\/caja-de-pago\/" }, "facebook_sdk": { "lang": "es_ES", "app_id": "" }, "lottie": { "defaultAnimationUrl": "https:\/\/www.nutrirong.com\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json" }
		};
	</script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/js/frontend.min.js"
		id="elementor-pro-frontend-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js"
		id="elementor-waypoints-js"></script>
	<script defer src="https://www.nutrirong.com/wp-includes/js/jquery/ui/core.min.js" id="jquery-ui-core-js"></script>
	<script id="elementor-frontend-js-before">
		var elementorFrontendConfig = {
			"environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Compartir en Facebook", "shareOnTwitter": "Compartir en Twitter", "pinIt": "Pinear", "download": "Descargar", "downloadImage": "Descargar imagen", "fullscreen": "Pantalla completa", "zoom": "Zoom", "share": "Compartir", "playVideo": "Reproducir v\u00eddeo", "previous": "Anterior", "next": "Siguiente", "close": "Cerrar", "a11yCarouselWrapperAriaLabel": "Carrusel | Scroll horizontal: Flecha izquierda y derecha", "a11yCarouselPrevSlideMessage": "Diapositiva anterior", "a11yCarouselNextSlideMessage": "Diapositiva siguiente", "a11yCarouselFirstSlideMessage": "Esta es la primera diapositiva", "a11yCarouselLastSlideMessage": "Esta es la \u00faltima diapositiva", "a11yCarouselPaginationBulletMessage": "Ir a la diapositiva" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "M\u00f3vil vertical", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "M\u00f3vil horizontal", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tableta vertical", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tableta horizontal", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Port\u00e1til", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Pantalla grande", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } },
			"version": "3.22.3", "is_static": false, "experimentalFeatures": { "e_optimized_assets_loading": true, "e_optimized_css_loading": true, "additional_custom_breakpoints": true, "container_grid": true, "e_swiper_latest": true, "e_onboarding": true, "theme_builder_v2": true, "hello-theme-header-footer": true, "home_screen": true, "ai-layout": true, "landing-pages": true, "form-submissions": true }, "urls": { "assets": "https:\/\/www.nutrirong.com\/wp-content\/plugins\/elementor\/assets\/" }, "swiperClass": "swiper", "settings": { "page": [], "editorPreferences": [] }, "kit": { "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description", "hello_header_logo_type": "title", "hello_header_menu_layout": "horizontal", "hello_footer_logo_type": "logo" }, "post": { "id": 23, "title": "Fundacion%20Nutrir", "excerpt": "", "featuredImage": false }
		};
	</script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor/assets/js/frontend.min.js"
		id="elementor-frontend-js"></script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/elementor-pro/assets/js/elements-handlers.min.js"
		id="pro-elements-handlers-js"></script>
	<script id="jet-elements-js-extra">
		var jetElements = { "ajaxUrl": "https:\/\/www.nutrirong.com\/wp-admin\/admin-ajax.php", "isMobile": "false", "templateApiUrl": "https:\/\/www.nutrirong.com\/wp-json\/jet-elements-api\/v1\/elementor-template", "devMode": "false", "messages": { "invalidMail": "Please specify a valid e-mail" } };
	</script>
	<script defer src="https://www.nutrirong.com/wp-content/plugins/jet-elements/assets/js/jet-elements.min.js"
		id="jet-elements-js"></script>
</head>
<body
	class="home page-template page-template-elementor_header_footer page page-id-23 theme-hello-elementor woocommerce-no-js elementor-default elementor-template-full-width elementor-kit-5 elementor-page elementor-page-23">
	<!-- Page Header-->
	@await Html.PartialAsync("~/Views/Partials/_Navigation.cshtml")
	@RenderBody()
	@await Html.PartialAsync("~/Views/Partials/_Donate.cshtml")
	@await Html.PartialAsync("~/Views/Partials/_Footer.cshtml")
</body>
</html>