@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SobreNosotros>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<div data-elementor-type="wp-page" data-elementor-id="23" class="elementor elementor-23">
@Html.GetBlockListHtml(Model.MainContent)
</div>